<template>
  <div style="position: relative; width: 600px; min-height: 1000px">
    <div
      class="center-box"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <div style="display: flex; width: 90%">
        <InputText
          v-model="orgCode"
          label="Organization Code"
          width="100%"
          :activated="isOrgTextBoxInputed"
          :onEnter="clickRegister"
        />
        <img
          id="org-code"
          src="@/assets/icon/seach.png"
          width="60px"
          height="60px"
          class="seach-icon"
          @click="clickSeachOrg('code')"
        />
      </div>
      <div style="display: flex; width: 90%; margin-top: 30px">
        <InputText
          v-model="orgName"
          label="Organization Name"
          width="100%"
          :activated="isOrgTextBoxInputed"
          :onEnter="clickRegister"
        />
        <img
          src="@/assets/icon/seach.png"
          width="60px"
          height="60px"
          class="seach-icon"
          @click="clickSeachOrg('name')"
        />
      </div>
      <div style="color: lightgray; font-size: 20px">前方一致検索可</div>
      <InputText
        v-model="id"
        label="E-Mail (Login ID)"
        width="90%"
        style="margin-top: 30px"
        :errorMessage="errorMessageId"
        :onEnter="clickRegister"
      />
      <InputText
        v-model="fullname"
        label="Fullname"
        width="90%"
        style="margin-top: 30px"
        :errorMessage="errorMessageName"
        :onEnter="clickRegister"
      />
      <InputPassword
        v-model="password"
        label="Password"
        width="90%"
        style="margin-top: 30px"
        :errorMessage="errorMessagePassword"
        :onEnter="clickRegister"
      />
      <InputPassword
        v-model="rePassword"
        label="ConfirmPassword"
        width="90%"
        style="margin-top: 30px"
        :errorMessage="errorMessageRepassword"
        :onEnter="clickRegister"
      />

      <Button
        :disabled="isDisableButton"
        label="Join"
        width="60%"
        :style="'margin-top: 60px; margin-bottom: 60px;' + ($mq === 'sp' ? ' font-size: 20px;' : '')"
        :clickEvent="clickRegister"
      />
    </div>

    <modal
      name="org-seach"
      :draggable="true"
      height="auto"
      width="450px"
      :scrollable="true"
      :adaptive="true"
      styles="background-color:black; border: 6px double white;"
    >
      <div class="modal-header">Organization 検索結果</div>
      <div v-if="isOrgLoading" style="padding: 80px">
        <Loading color="gray" />
      </div>
      <div v-else class="modal-body">
        <div v-for="(org, index) in orgs" :key="org.code" class="radio">
          <input
            :id="index"
            name="radio"
            :value="index"
            v-model="checkOrgIndex"
            type="radio"
          />
          <label
            @touchend="
              () => {
                checkOrgIndex = index;
              }
            "
            :for="index"
            class="radio-label"
            >【{{ org.code }}】{{ org.name }}</label
          >
        </div>
      </div>
      <button
        class="modal-ok-button"
        @click="decideOrg()"
        @touchend="decideOrg()"
      >
        OK
      </button>
    </modal>

    <Modal2
      name="register-confirm"
      width="550px"
      :showModalSwitch="showConfirmModalSwitch"
      :message="'登録申請を行います\n(確認メールを送付します\n「the.team.run@gmail.com」からの\nメールを受信可能にしてください)'"
      @clickOk="clickConfirm()"
    />
  </div>
</template>

<script>
import InputText from "@/components/items/InputText1";
import InputPassword from "@/components/items/InputPassword1";
import Button from "@/components/items/Button1";
import Loading from "@/components/items/Loading1";
import Modal2 from "@/components/items/MessageModal2";

import {
  fetchOrganizationsByCode,
  fetchOrganizationsByName,
} from "@/api/firebase";

import { addJoinRequest } from "@/api/firebase_functions";

export default {
  name: "register",
  components: {
    InputText,
    InputPassword,
    Button,
    Loading,
    Modal2,
  },
  data() {
    return {
      orgCode: "",
      orgName: "",
      isOrgTextBoxInputed: false,
      isOrgLoading: false,
      id: "",
      errorMessageId: null,
      fullname: "",
      errorMessageName: null,
      password: "",
      errorMessagePassword: null,
      rePassword: "",
      errorMessageRepassword: null,
      orgs: [],
      checkOrgIndex: -1,
      showConfirmModalSwitch: false,
    };
  },
  methods: {
    clickSeachOrg: async function (key) {
      this.isOrgLoading = true;
      this.$modal.show("org-seach");
      this.isOrgTextBoxInputed = false;
      try {
        if (key === "code") {
          if (this.orgCode !== "") {
            this.orgs = [];
            this.orgs.push(
              await fetchOrganizationsByCode({ organizationCode: this.orgCode })
            );
          } else {
            this.orgs = await fetchOrganizationsByName({
              organizationName: "",
            });
          }
        } else if (key === "name") {
          this.orgs = await fetchOrganizationsByName({
            organizationName: this.orgName,
          });
        }
      } catch (err) {
        console.error(err);
        this.orgs = [];
      } finally {
        this.isOrgLoading = false;
      }
    },
    decideOrg: function () {
      if (!this.orgs[this.checkOrgIndex]) return;
      this.orgName = this.orgs[this.checkOrgIndex].name;
      this.orgCode = this.orgs[this.checkOrgIndex].code;
      this.isOrgTextBoxInputed = true;
      this.$modal.hide("org-seach");
    },
    clickRegister: function () {
      if (this.isDisableButton) return;
      this.showConfirmModalSwitch = !this.showConfirmModalSwitch;
    },
    clickConfirm: async function () {
      this.$store.commit("setIsLoading", true);
      let result;
      let message;
      let onClick;
      await addJoinRequest({
        organizationCode: this.orgCode,
        fullname: this.fullname,
        password: this.password,
        user: this.id,
      })
        .then(() => {
          result = "success";
          message = `メールアドレス(${this.id})へ確認メールを送信しました。\n1時間以内に、メール内のURLをクリックし、登録申請を完了してください。\n登録申請後、組織内にユーザ登録リクエストが届きます。\nその後、組織から承認され次第、ログイン可能となります。`;
          onClick = () => {
            this.$router.push({
              name: "Login",
            });
          };
        })
        .catch((err) => {
          console.error(err);
          result = "failure";
          message = "登録申請が失敗しました。\n管理者にお問い合わせください。";
          onClick = () => {};
        });
      this.$store.commit("setResultMsgModalInfo", {
        result,
        message,
        onClick,
      });
      this.$store.commit("setIsLoading", false);
    },
  },
  computed: {
    isDisableButton: function () {
      return (
        this.orgCode === "" ||
        this.orgName === "" ||
        this.id === "" ||
        this.fullname === "" ||
        this.password === "" ||
        this.rePassword === "" ||
        this.errorMessageId !== null ||
        this.errorMessageName !== null ||
        this.errorMessagePassword !== null ||
        this.errorMessageRepassword !== null
      );
    },
  },
  watch: {
    id: function (value) {
      if (value.length > 32) {
        this.errorMessageId = "32文字以内で入力してください。";
      } else {
        this.errorMessageId = null;
      }
    },
    fullname: function (value) {
      if (value.length > 10) {
        this.errorMessageName = "10文字以内で入力してください。";
      } else {
        this.errorMessageName = null;
      }
    },
    password: function (value) {
      if (value.length > 0 && value.length < 8) {
        this.errorMessagePassword = "8文字以上で入力してください。";
      } else {
        this.errorMessagePassword = null;
      }
      if (this.rePassword !== "" && value !== this.rePassword) {
        this.errorMessageRepassword = "パスワードが一致しません。";
      } else {
        this.errorMessageRepassword = null;
      }
    },
    rePassword: function (value) {
      if (value !== this.password) {
        this.errorMessageRepassword = "パスワードが一致しません。";
      } else {
        this.errorMessageRepassword = null;
      }
    },
  },
};
</script>

<style scoped>
.modal-header,
.modal-body {
  color: white;
}
.modal-body {
  padding: 10px 0;
  max-height: 400px;
  overflow-y: auto;
}

.radio {
  display: flex;
  justify-content: center;
}

.radio-label {
  display: flex;
  justify-content: start;
  width: 220px;
  word-break: break-word;
  text-align: left;
}

.seach-icon {
  margin: 10px 0 0 16px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: lightgray;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  box-shadow: none;
}
.modal-ok-button {
  margin-bottom: 20px;
}
</style>

<style lang="scss" scoped>
$color1: #f4f4f4;
$color2: #3197ee;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.radio {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.seach-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
</style>