<template>
  <div v-if="!$store.getters.isRoot" class="page-layout">
    <div class="center-box">
      <div>
        <Button class="my-button" :disabled="false" label="パスワードを変更する" :clickEvent="
          () => {
            setModalParam('password');
          }
        " />
      </div>
      <div v-if="currentUserInfo && currentUserInfo.isAdmin">
        <Button class="my-button" :disabled="false" label="Admin権限を付与する" :clickEvent="
          () => {
            setModalParam('authority');
          }
        " />
      </div>
      <div v-if="currentUserInfo && currentUserInfo.isAdmin && isOtherAdmin">
        <Button class="my-button" :disabled="false" label="Admin権限を放棄する" :clickEvent="
          () => {
            showDeleteAuthorityModalSwitch = !showDeleteAuthorityModalSwitch;
          }
        " />
      </div>
      <div v-if="currentUserInfo && currentUserInfo.isAdmin">
        <Button class="my-button" :disabled="false" label="ユーザを削除する" :clickEvent="
          () => {
            setModalParam('delete');
          }
        " />
      </div>
    </div>

    <modal name="setting-modal" :draggable="true" width="500px" height="auto" :scrollable="true" :adaptive="true"
      styles="background-color:black; border: 6px double white;">
      <div class="modal-header">
        <div>{{ modalTitle }}</div>
      </div>
      <div class="modal-body">
        <div v-if="modalKey === 'password'" style="display: flex; flex-direction: column; align-items: center">
          <InputPassword v-model="oldPassword" label="Old Password" style="width: 80%;" :onEnter="switchConfirmModal"
            :isFocus="true" />
          <InputPassword v-model="newPassword" label="New Password" style="margin-top: 30px; width: 80%;"
            :errorMessage="errorMessageNewPassword" :onEnter="switchConfirmModal" />
          <InputPassword v-model="confirmPassword" label="Confirm Password" style="margin: 30px 0 10px 0;  width: 80%;"
            :errorMessage="errorMessageConfirmPassword" :onEnter="switchConfirmModal" />
        </div>
        <div v-if="modalKey === 'authority'" style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  overflow-y: auto;
                  height: 250px;
                ">
          <div v-for="user in Object.keys(membersInfo)" :key="user">
            <div class="user" v-if="!membersInfo[user].isAdmin">
              <input type="checkbox" :id="user" :value="user" v-model="checkedUsers" />
              <label @touchend="
                () => {
                  if (!checkedUsers.includes(user)) checkedUsers.push(user);
                  else checkedUsers = checkedUsers.filter((checkedUser) => checkedUser !== user);
                }
              " :for="user">{{ membersInfo[user].fullname }}({{ user }})</label>
            </div>
          </div>
        </div>
        <div v-if="modalKey === 'delete'" style="display: flex; justify-content: center">
          <InputText v-model="deleteUserId" label="Deleting User E-mail except Admin" style="width: 80%;"
            :errorMessage="null" :isFocus="true" :onEnter="switchConfirmModal" />
        </div>
        <button :disabled="disabledButton" class="modal-action-button" @click="switchConfirmModal"
          @touchend="switchConfirmModal">
          OK
        </button>
      </div>
    </modal>

    <MessageModal name="delete-authority" :showModalSwitch="showDeleteAuthorityModalSwitch"
      :message="$mq !== 'sp' ? 'Admin権限を放棄します' : 'Admin権限を\n放棄します'" @clickOk="deleteAuthority()" />
    <MessageModal name="setting-confirm" :showModalSwitch="showConfirmModalSwitch" :message="confirmMessage"
      @clickOk="modalMethod()" />
  </div>
</template>

<script>
import Button from "@/components/items/Button1";
import InputPassword from "@/components/items/InputPassword2";
import InputText from "@/components/items/InputText2";
import MessageModal from "@/components/items/MessageModal2";

import {
  updatePassword,
  toFalseMyAdmin,
  toTrueMembersAdmin,
  deleteUser,
} from "@/api/firebase";

export default {
  name: "setting",
  components: {
    Button,
    InputPassword,
    InputText,
    MessageModal,
  },
  data() {
    return {
      modalKey: "",
      modalTitle: "",
      modalMethod: null,
      oldPassword: "",
      newPassword: "",
      errorMessageNewPassword: null,
      confirmPassword: "",
      errorMessageConfirmPassword: null,
      showConfirmModalSwitch: false,
      confirmMessage: "",
      deleteUserId: "",
      isErrorUserId: true,
      checkedUsers: [],
      showDeleteAuthorityModalSwitch: false,
    };
  },
  methods: {
    setModalParam: function (key) {
      switch (key) {
        case "password":
          this.modalKey = "password";
          this.modalTitle = "パスワード変更";
          this.modalMethod = this.clickChangePassword;
          this.confirmMessage = "パスワードを変更します";
          break;
        case "authority":
          this.modalKey = "authority";
          this.modalTitle = "Admin権限付与";
          this.modalMethod = this.clickGrantAuthority;
          this.confirmMessage = "指定されたユーザにAdmin権限を付与します";
          break;
        case "delete":
          this.modalKey = "delete";
          this.modalTitle = "ユーザ削除";
          this.modalMethod = this.clickDeleteUser;
          this.confirmMessage = "指定されたユーザを削除します";
          break;
        default:
          break;
      }
      this.$modal.show("setting-modal");
    },
    clickChangePassword: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      await updatePassword({
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
      }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "パスワードの変更に失敗しました\n再度やり直してください" : "パスワードの変更に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
      });
      this.$store.commit("setIsLoading", false);
    },
    clickGrantAuthority: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      await toTrueMembersAdmin({ users: this.checkedUsers }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "Admin権限の付与に失敗しました\n再度やり直してください" : "Admin権限の付与に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
      });
      this.$store.commit("setIsLoading", false);
    },
    deleteAuthority: async function () {
      this.$store.commit("setIsLoading", true);
      try {
        await toFalseMyAdmin();
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "Admin権限の放棄に失敗しました\n再度やり直してください" : "Admin権限の放棄に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
        return;
      } finally {
        this.$store.commit("setIsLoading", false);
      }
      this.$store.commit("setRequest", null);
      this.$router.push({ name: "Attendance" });
    },
    clickDeleteUser: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      try {
        await deleteUser({ deletedUser: this.deleteUserId });
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: "ユーザの削除に失敗しました\n再度やり直してください",
          onClick: () => { },
        });
        return;
      } finally {
        this.$store.commit("setIsLoading", false);
      }

      this.$store.commit("setResultMsgModalInfo", {
        result: "success",
        message: "ユーザを削除しました",
        onClick: () => { },
      });
    },
    switchConfirmModal: function () {
      if (this.disabledButton) return;
      this.showConfirmModalSwitch = !this.showConfirmModalSwitch;
    },
  },
  computed: {
    disabledButton() {
      return (
        (this.modalKey === "password" &&
          (this.oldPassword === "" ||
            this.newPassword === "" ||
            this.errorMessageNewPassword !== null ||
            this.confirmPassword === "" ||
            this.errorMessageConfirmPassword !== null)) ||
        (this.modalKey === "delete" &&
          (this.deleteUserId === "" || this.isErrorUserId))
      );
    },
    membersInfo() {
      return this.$store.getters.membersInfo;
    },
    currentUserInfo() {
      return this.$store.getters.currentUserInfo;
    },
    isOtherAdmin() {
      return (
        Object.values(this.membersInfo).filter((value) => value.isAdmin)
          .length > 1
      );
    },
  },
  watch: {
    newPassword: function (value) {
      if (value.length > 0 && value.length < 8)
        this.errorMessageNewPassword = "8文字以上で入力してください。";
      else this.errorMessageNewPassword = null;
    },
    confirmPassword: function (value) {
      if (value.length > 0 && value !== this.newPassword)
        this.errorMessageConfirmPassword = "パスワードが一致しません。";
      else this.errorMessageConfirmPassword = null;
    },
    deleteUserId: function (value) {
      this.isErrorUserId = true;
      Object.keys(this.membersInfo).forEach((key) => {
        if (!this.membersInfo[key].isAdmin && value === key)
          this.isErrorUserId = false;
      });
    },
  },
};
</script>

<style scoped>
.page-layout {
  width: 100%;
  position: relative;
  min-height: 800px;
  min-width: 400px;
  height: 100%;
}

.modal-header,
.modal-body {
  color: white;
}

.modal-body {
  padding: 20px 0;
}

.center-box div {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-button {
  font-size: 28px;
  height: 100px;
  max-width: 60%;
  min-width: 400px;
  flex: 1;
}

.user {
  width: 300px;
  text-align: left;
  font-size: 22px;
  margin-top: 6px;
}

@media (max-width: 500px) {
  .page-layout {
    min-height: 0px;
    min-width: 0px;
  }

  .my-button {
    font-size: 20px;
    height: 70px;
    max-width: 80%;
    min-width: 0px;
  }
}
</style>