<template>
  <div class="page-layout">
    <div class="center-box">
      <div>
        <Button class="my-button" :disabled="false" label="パスワードを変更する" :clickEvent="() => { setModalParam('password'); }" />
      </div>
      <div>
        <Button class="my-button" :disabled="false" label="組織を追加する" width="60%"
          :clickEvent="() => { setModalParam('add-organization'); }" />
      </div>
      <div>
        <Button class="my-button" :disabled="false" label="組織を削除する" width="60%"
          :clickEvent="() => { setModalParam('delete-organization'); }" />
      </div>
    </div>

    <modal name="setting-modal" :draggable="true" width="500px" height="auto" :scrollable="true" :adaptive="true"
      styles="background-color:black; border: 6px double white;">
      <div class="modal-header">
        <div>{{ modalTitle }}</div>
      </div>
      <div class="modal-body">
        <div v-if="modalKey === 'password'" style="display: flex; flex-direction: column; align-items: center">
          <InputPassword v-model="oldPassword" label="Old Password" style="width: 80%" :onEnter="switchConfirmModal"
            :isFocus="true" />
          <InputPassword v-model="newPassword" label="New Password" style="margin-top: 30px; width: 80%"
            :errorMessage="errorMessageNewPassword" :onEnter="switchConfirmModal" />
          <InputPassword v-model="confirmPassword" label="Confirm Password" style="margin: 30px 0 10px 0; width: 80%"
            :errorMessage="errorMessageConfirmPassword" :onEnter="switchConfirmModal" />
        </div>
        <div v-if="modalKey === 'add-organization'" style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  overflow-y: auto;
                  height: 250px;
                ">
          <InputText v-model="organizationCode" label="Organization Code" style=" width: 80%;" :errorMessage="null"
            :onEnter="switchConfirmModal" :isFocus="true" />
          <InputText v-model="organizationName" label="Organization Name" style="margin-top: 30px;  width: 80%;"
            :errorMessage="null" :onEnter="switchConfirmModal" />
          <InputText v-model="initialMemberEmail" label="E-mail" style="margin-top: 30px;  width: 80%;"
            :errorMessage="null" :onEnter="switchConfirmModal" />
          <InputText v-model="initialMemberFullname" label="Fullname" style="margin-top: 30px;  width: 80%;"
            :errorMessage="null" :onEnter="switchConfirmModal" />
          <InputPassword v-model="initialMemberPassword" label="Password" style="margin: 30px 0 10px 0;  width: 80%;"
            :errorMessage="errorMessageInitialPassword" :onEnter="switchConfirmModal" />
        </div>
        <div v-if="modalKey === 'delete-organization'" style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  height: auto;
                ">
          <InputText v-model="deletingOrganizationCode" label="Organization Code" style=" width: 80%;"
            :errorMessage="null" :onEnter="switchConfirmModal" :isFocus="true" />
          <InputText v-model="deletingOrganizationName" label="Organization Name"
            style="margin: 30px 0 10px 0;  width: 80%;" :errorMessage="null" :onEnter="switchConfirmModal" />
        </div>
        <button :disabled="disabledButton" class="modal-action-button" @click="switchConfirmModal"
          @touchend="switchConfirmModal">
          OK
        </button>
      </div>
    </modal>

    <MessageModal name="setting-confirm" :showModalSwitch="showConfirmModalSwitch" :message="confirmMessage"
      @clickOk="modalMethod()" />
  </div>
</template>

<script>
import Button from "@/components/items/Button1";
import InputPassword from "@/components/items/InputPassword2";
import InputText from "@/components/items/InputText2";
import MessageModal from "@/components/items/MessageModal2";

import { updatePassword } from "@/api/firebase";
import { createOrganization, deleteOrganization } from "@/api/firebase_functions";

export default {
  name: "root-menu",
  components: {
    Button,
    InputPassword,
    InputText,
    MessageModal,
  },
  data() {
    return {
      modalKey: "",
      modalTitle: "",
      modalMethod: null,
      oldPassword: "",
      newPassword: "",
      errorMessageNewPassword: null,
      confirmPassword: "",
      errorMessageConfirmPassword: null,
      organizationCode: "",
      organizationName: "",
      initialMemberEmail: "",
      initialMemberFullname: "",
      initialMemberPassword: "",
      errorMessageInitialPassword: null,
      deletingOrganizationCode: "",
      deletingOrganizationName: "",
      showConfirmModalSwitch: false,
      confirmMessage: "",
      checkedUsers: [],
    };
  },
  mounted() {
    this.$store.commit("setIsLoading", false);
  },
  methods: {
    setModalParam: function (key) {
      switch (key) {
        case "password":
          this.modalKey = "password";
          this.modalTitle = "パスワード変更";
          this.modalMethod = this.clickChangePassword;
          this.confirmMessage = "パスワードを変更します";
          break;
        case "add-organization":
          this.modalKey = "add-organization";
          this.modalTitle = "組織新規作成";
          this.modalMethod = this.clickAddOrganization;
          this.confirmMessage = "組織を新規追加します";
          break;
        case "delete-organization":
          this.modalKey = "delete-organization";
          this.modalTitle = "組織削除";
          this.modalMethod = this.clickDeleteOrganization;
          this.confirmMessage = "組織を削除します";
          break;
        default:
          break;
      }
      this.$modal.show("setting-modal");
    },
    clickChangePassword: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      await updatePassword({
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
      }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "パスワードの変更に失敗しました\n再度やり直してください" : "パスワードの変更に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
      });
      this.$store.commit("setIsLoading", false);
    },
    clickAddOrganization: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      await createOrganization({
        code: this.organizationCode,
        name: this.organizationName,
        userEmail: this.initialMemberEmail,
        userFullname: this.initialMemberFullname,
        userPassword: this.initialMemberPassword,
      }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "組織の新規作成に失敗しました\n再度やり直してください" : "組織の新規作成に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
      });
      this.$store.commit("setIsLoading", false);
    },
    clickDeleteOrganization: async function () {
      this.$modal.hide("setting-modal");
      this.$store.commit("setIsLoading", true);
      await deleteOrganization({
        code: this.deletingOrganizationCode,
        name: this.deletingOrganizationName,
      }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: this.$mq !== 'sp' ? "組織の削除に失敗しました\n再度やり直してください" : "組織の削除に\n失敗しました\n再度やり直してください",
          onClick: () => { },
        });
      });
      this.$store.commit("setIsLoading", false);
    },
    switchConfirmModal: function () {
      if (this.disabledButton) return;
      this.showConfirmModalSwitch = !this.showConfirmModalSwitch;
    },
  },
  computed: {
    disabledButton() {
      return (
        (this.modalKey === "password" &&
          (this.oldPassword === "" ||
            this.newPassword === "" ||
            this.errorMessageNewPassword !== null ||
            this.confirmPassword === "" ||
            this.errorMessageConfirmPassword !== null)) ||
        (this.modalKey === "add-organization" &&
          (this.organizationCode === "" ||
            this.organizationName === "" ||
            this.initialMemberEmail === "" ||
            this.initialMemberFullname === "" ||
            this.initialMemberPassword === "" ||
            this.organizationName === "" ||
            this.errorMessageInitialPassword !== null)) ||
        (this.modalKey === "delete-organization" &&
          (this.deletingOrganizationCode === "" ||
            this.deletingOrganizationName === ""))
      );
    },
  },
  watch: {
    newPassword: function (value) {
      if (value.length > 0 && value.length < 8)
        this.errorMessageNewPassword = "8文字以上で入力してください。";
      else this.errorMessageNewPassword = null;
    },
    confirmPassword: function (value) {
      if (value.length > 0 && value !== this.newPassword)
        this.errorMessageConfirmPassword = "パスワードが一致しません。";
      else this.errorMessageConfirmPassword = null;
    },
    initialMemberPassword: function (value) {
      if (value.length > 0 && value.length < 8)
        this.errorMessageInitialPassword = "8文字以上で入力してください。";
      else this.errorMessageInitialPassword = null;
    }
  },
};
</script>

<style scoped>
.page-layout {
  width: 100%;
  position: relative;
  min-height: 800px;
  height: 100%;
}

.modal-header,
.modal-body {
  color: white;
}

.modal-body {
  padding: 20px 0;
}

.center-box div {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-button {
  font-size: 28px;
  height: 100px;
  max-width: 60%;
  flex: 1;
}

.user {
  width: 300px;
  text-align: left;
  font-size: 22px;
  margin-top: 6px;
}

@media (max-width: 500px) {
  .page-layout {
    min-height: 0px;
  }

  .my-button {
    font-size: 20px;
    height: 70px;
    max-width: 80%;
  }
}
</style>