<template>
  <div style="position: relative; width: 600px; min-height: 550px">
    <div
      class="center-box"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <InputText
        v-model="id"
        label="Login ID"
        width="90%"
        :isFocus="true"
        :onEnter="clickLogin"
      />
      <InputPassword
        v-model="password"
        label="Password"
        width="90%"
        style="margin-top: 60px"
        :onEnter="clickLogin"
      />
      <Button
        :disabled="isDisableButton"
        label="Login"
        width="60%"
        :style="'margin-top: 60px;' + ($mq === 'sp' ? ' font-size: 20px;' : '')"
        :clickEvent="clickLogin"
      />
      <router-link
        to="/register"
        style="
          color: white;
          text-decoration: underline;
          font-size: 26px;
          margin-top: 30px;
        "
        >Join New Organization</router-link
      >
    </div>
  </div>
</template>

<script>
import InputText from "@/components/items/InputText1";
import InputPassword from "@/components/items/InputPassword1";
import Button from "@/components/items/Button1";

import { login, loginRoot } from "@/api/firebase.js";

export default {
  name: "login",
  components: {
    InputText,
    InputPassword,
    Button,
  },
  data() {
    return {
      id: "",
      password: "",
    };
  },
  methods: {
    clickLogin: async function () {
      if (this.isDisableButton) return;
      this.$store.commit("setIsLoading", true);
      try {
        if (this.$route.name === "LoginRoot")
          await loginRoot({
            id: this.id,
            password: this.password,
          });
        else
          await login({
            id: this.id,
            password: this.password,
          });
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "ログインに失敗しました\n繰り返し失敗する場合\n管理者にお問い合わせください",
          onClick: () => {},
        });
        this.$store.commit("setIsLoading", false);
        return;
      }
    },
  },
  computed: {
    isDisableButton: function () {
      return this.id === "" || this.password === "";
    },
  },
};
</script>
