<template>
  <modal v-if="info" :name="name" :draggable="true" height="auto" width="550px" :scrollable="true" :adaptive="true"
    styles="background-color:black; border: 6px double white;">
    <div class="modal-header">勤怠実績修正申請</div>
    <div class="modal-body">
      <div style="font-size: 20px">
        {{ info.date && info.date.format("yyyy/M/D") }}
      </div>
      <div style="
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            ">
        <div style="width: 20%">
          <div v-if="info.isVacation">
            <div style="font-size: 20px">休暇</div>
          </div>
          <div v-else-if="info.attendanceTime || info.leaveTime">
            <span class="fix-title">出勤</span>
            <div style="font-size: 20px">{{ attendanceTimeString }}</div>
            <span class="fix-title">退勤</span>
            <div style="font-size: 20px">{{ leaveTimeString }}</div>
          </div>
          <div v-else>
            <div style="font-size: 20px">未出勤</div>
          </div>
        </div>
        <img src="@/assets/icon/large-arrow-right.png" width="70px" height="70px"
          :style="{ 'margin-left': $mq !== 'sp' ? '50px' : '20px' }" />
        <div :style="{ width: $mq !== 'sp' ? '30%' : '36%' }">
          <div v-if="
            checkedVacation.length === 0 && checkedUnAttendance.length === 0
          ">
            <span class="fix-title">出勤</span>
            <div>
              <input type="time" v-model="inputedValue.attendanceTime" />
            </div>
            <span class="fix-title">退勤</span>
            <div>
              <input type="time" v-model="inputedValue.leaveTime" />
            </div>
            <div :style="{ 'font-size': '12px', width: '100%', 'margin-left': $mq !== 'sp' ? '28px' : '12px' }">
              (翌日午前5時まで)
            </div>
          </div>
          <label for="checkbox1" class="options" @touchend="
            () => {
              if (checkedVacation.length > 0) checkedVacation = [];
              else if (checkedUnAttendance.length == 0) checkedVacation.push(null);
            }">
            <input type="checkbox" id="checkbox1" v-model="checkedVacation" :disabled="checkedUnAttendance.length > 0" />
            休暇</label>
          <label for="checkbox2" class="options" @touchend="
            () => {
              if (checkedUnAttendance.length > 0) checkedUnAttendance = [];
              else if (checkedVacation.length == 0) checkedUnAttendance.push(null);
            }">
            <input type="checkbox" id="checkbox2" v-model="checkedUnAttendance" :disabled="checkedVacation.length > 0" />
            未出勤</label>
        </div>
      </div>
      <button :disabled="isDisabled" @click="clickUpdate()" @touchend="clickUpdate()" class="modal-action-button">
        Request
      </button>
    </div>
  </modal>
</template>

<script>
import moment from "moment";

export default {
  props: {
    name: String,
    info: Object,
    showModalSwitch: Boolean,
  },
  data() {
    return {
      checkedVacation: [],
      checkedUnAttendance: [],
      inputedValue: {},
    };
  },
  watch: {
    showModalSwitch: function () {
      this.inputedValue = {
        attendanceTime:
          this.info.attendanceTime && this.info.attendanceTime.format("HH:mm"),
        leaveTime: this.info.leaveTime && this.info.leaveTime.format("HH:mm"),
      };
      this.checkedVacation = [];
      this.checkedUnAttendance = [];
      this.$modal.show(this.name);
    },
  },
  methods: {
    clickUpdate: function () {
      if (this.checkedVacation.length > 0) {
        this.inputedValue.isVacation = true;
        this.inputedValue.attendanceTime = null;
        this.inputedValue.leaveTime = null;
      } else if (this.checkedUnAttendance.length > 0) {
        this.inputedValue.isVacation = false;
        this.inputedValue.attendanceTime = null;
        this.inputedValue.leaveTime = null;
      } else {
        this.inputedValue.isVacation = false;
        if (this.inputedValue.attendanceTime) {
          const attendanceTimes = this.inputedValue.attendanceTime
            .split(":")
            .map((element) => {
              return Number(element);
            });
          this.inputedValue.attendanceTime = moment(this.info.date)
            .hour(attendanceTimes[0])
            .minute(attendanceTimes[1]);
        } else this.inputedValue.attendanceTime = null;
        if (this.inputedValue.leaveTime) {
          const leaveTimes = this.inputedValue.leaveTime
            .split(":")
            .map((element) => {
              return Number(element);
            });
          if (leaveTimes[0] >= 0 && leaveTimes[0] <= 5)
            this.inputedValue.leaveTime = moment(this.info.date)
              .add(1, "days")
              .hour(leaveTimes[0])
              .minute(leaveTimes[1]);
          else
            this.inputedValue.leaveTime = moment(this.info.date)
              .hour(leaveTimes[0])
              .minute(leaveTimes[1]);
        } else this.inputedValue.leaveTime = null;
      }
      this.$emit("input", this.inputedValue);
      this.$emit("click");
      this.$modal.hide(this.name);
    },
    calcLeaveTime() {
      if (this.info.leaveTime) {
        const leaveHour = this.info.leaveTime.get("hour");
        if (leaveHour >= 0 && leaveHour <= 5)
          return "翌" + this.info.leaveTime.format("HH:mm");
        else return this.info.leaveTime.format("HH:mm");
      } else return "";
    },
    calcAttendanceTime() {
      if (this.info.attendanceTime) {
        return this.info.attendanceTime.format("HH:mm");
      } else return "";
    },
  },
  computed: {
    isDisabled() {
      return !(
        this.inputedValue.attendanceTime ||
        this.inputedValue.leaveTime ||
        this.checkedVacation.length > 0 ||
        this.checkedUnAttendance.length > 0
      );
    },
    leaveTimeString() {
      return this.calcLeaveTime();
    },
    attendanceTimeString() {
      return this.calcAttendanceTime();
    },
  },
};
</script>

<style scoped>
.modal-header,
.modal-body {
  color: white;
}

.modal-body {
  padding: 20px 0px;
}

.fix-title {
  text-align: left;
  margin-left: -70px;
  font-size: 18px;
}

input[type="time"] {
  margin-left: 50px;
  height: 30px;
  width: 100px;
  font-size: 18px;
}

input[type="checkbox"] {
  margin: 20px 0 0 -40px;
}

.options {
  margin-left: 50px;
  font-size: 20px;
}

@media (max-width: 500px) {

  .fix-title {
    margin-left: -40px;
    font-size: 14px;
  }

  input[type="time"] {
    margin-left: 20px;
    height: 30px;
    width: 90px;
    font-size: 18px;
  }

  .options {
    font-size: 16px;
    margin-left: 44px;
  }
}
</style>