<template>
  <div class="calendar-contents">
    <div v-if="_info.isAfterToday">
      <div>
        <div v-if="!_info.isVacation">
          <div v-if="isMyItem">
            <div v-if="$mq !== 'sp'" class="location-input">
              <img src="@/assets/icon/location.png" class="location-icon" />
              <input type="text" v-model="_info.location" style="width: 75%; height: 22px" @blur="execAction('location')"
                placeholder="勤務地を入力" :ref="_info.date.format('yyyyMMDD')" @keydown.enter.exact.prevent="
                  () => {
                    $refs[_info.date.format('yyyyMMDD')].blur();
                  }
                " />
            </div>
            <div>
              <button class="item-button" :style="$mq ==='sp' ? {height: '44px'} : {}" @click="execAction('onVacation')">
                <div v-if="$mq !== 'sp'">休暇申請</div>
                <div v-else><div>休暇</div><div>申請</div></div>
              </button>
            </div>
          </div>
          <div v-else-if="$mq !== 'sp'" class="location">
            <img src="@/assets/icon/location.png" class="location-icon" />
            <div>{{ _info.location }}</div>
          </div>
        </div>
        <div v-else>
          <div style="color: red">
            <div v-if="$mq !== 'sp'">休暇予定</div>
            <div v-else>休暇</div>
          </div>
          <button v-if="isMyItem" class="item-button" :style="$mq ==='sp' ? {height: '30px', 'margin-top': '10px'} : {}" @click="execAction('offVacation')">
            <div v-if="$mq !== 'sp'">休暇を取消</div>
            <div v-else>取消</div>
          </button>
        </div>
      </div>
    </div>
    <div v-else-if="_info.isVacation" :class="isMyItem ? 'clickable' : ''" style="color: red; height: 50px"
      @click="execAction('attendance')">
      休暇
    </div>
    <div v-else-if="_info.attendanceTime || _info.leaveTime">
      <div :class="isMyItem ? 'clickable' : ''" @click="execAction('attendance')">
        <div v-if="$mq === 'sp'" class="attendance-title">出勤</div>
        <div class="time">
          <img v-if="$mq !== 'sp'" src="@/assets/icon/attendance.png" class="attendance-icon" />
          <div>{{ attendanceTimeString }}</div>
        </div>
        <div v-if="$mq === 'sp'" class="attendance-title">退勤</div>
        <div class="time">
          <img v-if="$mq !== 'sp'" src="@/assets/icon/leave.png" class="attendance-icon" />
          <div>{{ leaveTimeString }}</div>
        </div>
      </div>
      <div>
        <div v-if="isMyItem && $mq !== 'sp'" class="location-input">
          <img src="@/assets/icon/location.png" class="location-icon" />
          <input type="text" v-model="_info.location" style="width: 75%; height: 22px" @blur="execAction('location')"
            placeholder="勤務地を入力" :ref="_info.date.format('yyyyMMDD')" @keydown.enter.exact.prevent="
              () => {
                $refs[_info.date.format('yyyyMMDD')].blur();
              }
            " />
        </div>
        <div v-else-if="$mq !== 'sp'" class="location">
          <img src="@/assets/icon/location.png" class="location-icon" />
          <div>{{ _info.location }}</div>
        </div>
      </div>
      <div v-if="$mq !== 'sp'">
        <div style="position: relative">
          <button class="done-button" @mouseover="
            () => {
              isHoverDone = true;
            }
          " @mouseout="
  (event) => {
    if (event.relatedTarget === $refs.done_list) return;
    isHoverDone = false;
  }
">
            Done
            <img src="@/assets/icon/arrow-down.png" />
          </button>
        </div>
        <div v-if="isHoverDone" class="done-list" ref="done_list" @mouseover="
          () => {
            isHoverDone = true;
          }
        " @mouseleave="
  () => {
    isHoverDone = false;
  }
">
          <div v-if="!_info.done || _info.done.length === 0">
            <p>Doneはありません。</p>
          </div>
          <div class="done-box" v-for="(done, index) in _info.done" :key="index">
            <p>{{ done }}</p>
          </div>
        </div>
      </div>
    </div>
    <div v-else :class="isMyItem ? 'clickable' : ''" style="height: 50px" @click="execAction('attendance')">
      未出勤
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: Object,
    isMyItem: Boolean,
    defaultLocation: String,
  },
  data() {
    return {
      isHoverDone: false,
    };
  },
  created() {
    this.setLocation();
  },
  methods: {
    setLocation: function () {
      if (this._info.location && this._info.location !== "") return;
      if (this.defaultLocation) this._info.location = this.defaultLocation;
    },
    execAction: function (key) {
      if (!this.isMyItem) return;
      switch (key) {
        case "attendance":
          this.$emit("clickAttendance");
          break;
        case "onVacation":
          this.$emit("clickOnVacation");
          break;
        case "offVacation":
          this.$emit("clickOffVacation");
          break;
        case "location":
          if (this._info.location !== "") {
            this.$emit("changeLocation");
          }
          break;
        default:
          break;
      }
    },
    calcLeaveTime() {
      if (this._info.leaveTime) {
        const leaveHour = this._info.leaveTime.get("hour");
        if (leaveHour >= 0 && leaveHour <= 5)
          return "翌" + this._info.leaveTime.format("HH:mm");
        else return this._info.leaveTime.format("HH:mm");
      } else return "";
    },
    calcAttendanceTime() {
      if (this._info.attendanceTime) {
        return this._info.attendanceTime.format("HH:mm");
      } else return "";
    },
  },
  computed: {
    _info: {
      get() {
        return this.info;
      },
      set(newValue) {
        if (!this.isMyItem) return;
        this.$emit("input", newValue.location);
      },
    },
    leaveTimeString() {
      return this.calcLeaveTime();
    },
    attendanceTimeString() {
      return this.calcAttendanceTime();
    },
  },
  watch: {
    _info() {
      this.setLocation();
    },
  },
};
</script>


<style scoped>
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.time>div {
  width: 70px;
}

.attendance-icon {
  height: 20px;
  text-align: center;
  padding: 3px;
}

.clickable {
  cursor: pointer;
  width: 100%;
}

.calendar-contents {
  color: white;
  margin-top: 15px;
}

.calendar-contents div {
  margin-top: 5px;
}

button {
  background-color: #202020;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

.location {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
}

.location-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.location>div {
  white-space: nowrap;
  overflow-x: auto;
}

.location-icon {
  width: 30px;
  height: 24px;
  border: none;
}

.done-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 32px;
  width: 80px;
  font-weight: bold;
  z-index: 102;
  left: calc(50% - 40px);
}

.done-button>img {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}

.done-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: black;
  padding: 30px 0 0 0;
  width: 200px;
  height: 300px;
  overflow-y: auto;
  z-index: 101;
  border: 2px solid grey;
  left: calc(50% - 100px);
  bottom: -300px;
  color: white;
}

.done-box {
  margin: 5px 0;
  width: 86%;
  border: 1px solid white;
  text-align: left;
  padding: 5px;
  overflow-wrap: break-word;
}

.item-button {
  height: 34px;
  cursor: pointer;
  margin-top: 15px;
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 38%);
  border-radius: 10px;
  box-shadow: none;
}

@media (max-width: 500px) {
  .calendar-contents {
    margin-top: 10px;
    font-size: 12px;
  }

  .calendar-contents div {
    margin-top: 2px;
  }

  .time {
    font-size: 12px;
  }

  .attendance-title {
    font-size: 10px;
    width: 100%;
    text-align: left;
    margin-left: 2px;
  }

  .item-button {
  font-size: 10px;
  cursor: pointer;
  margin: 0px 2px;
  border-color: white;
}

}

@media (hover: hover) {
  .clickable:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
</style>