<template>
  <modal
    :name="name"
    :draggable="true"
    height="auto"
    width="350px"
    :scrollable="true"
    :adaptive="true"
    styles="background-color:black; border: 6px double white;"
  >
    <div class="modal-header">Export CSV</div>
    <div class="modal-body">
        <div class="select">
          <label @touchend="() => {selectedMethod = 'all'}" for="radio1"
            ><input
              type="radio"
              id="radio1"
              name="get-method"
              value="all"
              v-model="selectedMethod"
              checked
            />
            直近1年分</label
          >
        </div>
        <div class="select">
          <label @touchend="() => {selectedMethod = 'month'}" for="radio2"
            ><input
              type="radio"
              id="radio2"
              name="get-method"
              value="month"
              v-model="selectedMethod"
            />
            任意の1ヵ月分</label
          >
          <select
            v-if="selectedMethod === 'month'"
            style="margin-left: 30px"
            v-model="selectedMonth"
          >
            <option
              v-for="yearMonth in yearMonths"
              :key="yearMonth"
              :value="yearMonth"
            >
              {{ yearMonth }}
            </option>
          </select>
      </div>
      <button class="modal-action-button" @click="clickImport()" @touchend="clickImport()">Export</button>
    </div>
  </modal>
</template>

<script>
import moment from "moment";

export default {
  props: {
    name: String,
    showModalSwitch: Boolean,
  },
  data() {
    return {
      date: moment(),
      selectedMonth: moment().format("yyyyMM"),
      selectedMethod: "all",
      yearMonths: [],
    };
  },
  mounted() {
    this.date.subtract(11, "months");
    for (let i = 0; i < 12; i++) {
      this.yearMonths.push(this.date.format("yyyyMM"));
      this.date.add(1, "months");
    }
  },
  methods: {
    clickImport: function () {
      let yearMonths = [];
      if (this.selectedMethod === "all") yearMonths = [...this.yearMonths];
      else if (this.selectedMethod === "month")
        yearMonths = [this.selectedMonth];
      this.$emit("input", yearMonths);
      this.$emit("click");
      this.$modal.hide(this.name);
    },
  },
  watch: {
    showModalSwitch: function () {
      this.$modal.show(this.name);
    },
  },
};
</script>

<style scoped>
.modal-header,
.modal-body {
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 22px;
}

.modal-body > .select {
  width: 180px;
  text-align: left;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: lightgray;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  box-shadow: none;
}
select {
  height: 30px;
  width: 100px;
  font-size: 18px;
}

.modal-action-button {
  margin-bottom: 10px;
}
</style>