<template>
  <div v-if="!$store.getters.isRoot" class="page-layout">
    <div class="item-wrapper">
      <div class="member-selector
                  ">
        <select v-model="selectedMember">
          <option v-for="member in Object.keys(membersInfo)" :key="member" :value="member">
            {{ membersInfo[member].fullname }}
          </option>
        </select>
      </div>
      <div style="display: flex; justify-content: center; width: 100%">
        <div style="width: 90%; margin-top: 30px">
          <div class="top-menus">
            <div style="display: flex; align-items: center; position: relative">
              <div class="transition-button" @click="prevMonth" :style="$mq !== 'sp' ? { 'margin-left': '30px' } : {}">
                <img src="@/assets/icon/prev.png" class="prev" /><span class="highlight"></span>
              </div>

              <div v-if="$mq !== 'sp'" class="transition-button" @click="nextMonth">
                <img src="@/assets/icon/next.png" class="next" /><span class="highlight"></span>
              </div>
              <span class="month-name">
                {{ currentDate.format("yyyy MMMM") }}
              </span>
              <div v-if="$mq === 'sp'" class="transition-button" @click="nextMonth">
                <img src="@/assets/icon/next.png" class="next" /><span class="highlight"></span>
              </div>
            </div>
            <span class="total-time">
              <span style="font-size: 26px"> Total : </span>
              <span style="font-size: 32px; color: white; margin-left: 10px">
                {{ (totalWorkingTime / 60).toFixed(1) }} h
              </span>
            </span>
          </div>

          <Calendar ref="calendar" weekHeight="50px" :itemMinWidth="$mq !== 'sp' ? '150px' : '0px'"
            :itemMinHeight="$mq !== 'sp' ? '180px' : '110px'" outsideDateColor="rgba(80, 80, 80, 0.8)"
            :weekNames="['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRY', 'SAT']" saturdayColor="aqua" sundayColor="red"
            weekdayColor="lightgray" :weekFontSize="$mq !== 'sp' ? '24px' : '18px'" dateColor="rgb(180, 180, 180)"
            dateFontSize="18px" :borderColor="$mq !== 'sp' ? 'white' : 'lightgrey'" :borderStyle="$mq !== 'sp' ? 'double' : 'solid'"
            :borderWidth="$mq !== 'sp' ? '4px' : '2px'" :todayBorderColor="$mq !== 'sp' ? 'white' : null"
            todayBackgroundColor="rgba(255, 255, 255, 0.2)" backgroundColor="transparent" v-model="currentDateDate">
            <template v-for="element in Object.keys(info)" v-slot:[element]>
              <div :key="element" v-if="!today.isSame(info[element].date, 'day')">
                <CalendarItem v-if="selectedMember === loginUser" :isMyItem="true" :info="info[element]"
                  :defaultLocation="currentUserInfo.defaultLocation" v-model="info[element].location"
                  @clickAttendance="onClick('attendance', info[element])"
                  @clickOnVacation="onClick('onVacation', info[element])"
                  @clickOffVacation="onClick('offVacation', info[element])"
                  @changeLocation="changeLocation(info[element])" />
                <CalendarItem v-else :isMyItem="false" :info="info[element]"
                  :defaultLocation="membersInfo[selectedMember].defaultLocation" />
              </div>
              <div :key="element" v-else>
                <p :style="{ color: 'white', 'font-size': $mq !== 'sp' ? '18px' : '14px' }">Today</p>
              </div>
            </template>
          </Calendar>
        </div>
      </div>
    </div>
    <div :style="{ display: 'flex', 'justify-content': 'center', 'margin-top': $mq !== 'sp' ? '50px' : '30px' }" @click="
      () => {
        showImportModalSwitch = !showImportModalSwitch;
      }
    ">
      <button>Export CSV</button>
    </div>
    <AttendanceFixModal :showModalSwitch="showAttendanceFixModalSwitch" name="attendance-fix" :info="{
      date: clickedData && clickedData.date,
      attendanceTime: clickedData && clickedData.attendanceTime,
      leaveTime: clickedData && clickedData.leaveTime,
      isVacation: clickedData && clickedData.isVacation,
    }" v-model="newValue" @click="update('attendance')" />
    <MessageModal name="on-vacation-modal" :showModalSwitch="showOnVacationModalSwitch" :message="
      (clickedData && clickedData.date && clickedData.date.format('DD')) +
      '日の休暇取得申請を\n行います'
    " @clickOk="update('onVacation')" />
    <MessageModal name="off-vacation-modal" :showModalSwitch="showOffVacationModalSwitch" :message="
      (clickedData && clickedData.date && clickedData.date.format('DD')) +
      '日の休暇予定を\nキャンセルします'
    " @clickOk="update('offVacation')" />
    <ImportCsvModal name="import-csv-modal" :showModalSwitch="showImportModalSwitch" v-model="csvImportedYearMonths"
      @click="importCsv()" />
  </div>
</template>

<script>
import moment from "moment";
import Calendar from "@/components/items/Calendar";
import CalendarItem from "./CalendarItem";
import AttendanceFixModal from "./AttendanceFixModal";
import ImportCsvModal from "./ImportCsvModal";
import MessageModal from "@/components/items/MessageModal2";

import {
  fetchCalendar,
  fetchCalendarAllUser,
  addFixAttendanceRequest,
  addVacationRequest,
} from "@/api/firebase";

import { updateOffVacation, updateLocation } from "@/api/firebase_functions";

export default {
  components: {
    Calendar,
    CalendarItem,
    AttendanceFixModal,
    ImportCsvModal,
    MessageModal,
  },
  data() {
    return {
      today: moment(),
      currentDateDate: new Date(),
      currentDate: moment(),
      selectedMember: "",
      info: {},
      showAttendanceFixModalSwitch: false,
      showOnVacationModalSwitch: false,
      showOffVacationModalSwitch: false,
      showImportModalSwitch: false,
      clickedData: null,
      newValue: null,
      totalWorkingTime: 0,
      csvImportedYearMonths: [],
      isInitFetch: true,
    };
  },
  methods: {
    getStartDate() {
      let date = moment(this.currentDate);
      date.startOf("month");
      const youbiNum = date.day();
      return date.subtract(youbiNum, "days");
    },
    getEndDate() {
      let date = moment(this.currentDate);
      date.endOf("month");
      const youbiNum = date.day();
      return date.add(6 - youbiNum, "days");
    },
    nextMonth() {
      this.$refs.calendar.next();
    },
    prevMonth() {
      this.$refs.calendar.prev();
    },
    async getInfo() {
      this.$store.commit("setIsLoading", true);
      let newInfo = {};
      this.totalWorkingTime = 0;
      const year = this.currentDate.get("years");
      const month = this.currentDate.get("months");
      for (
        let target = this.currentDate.clone().startOf("month");
        target.isBefore(this.currentDate.clone().endOf("month"));
        target.add(1, "days")
      ) {
        const date = moment({
          year: year,
          month: month,
          date: target.get("date"),
        });
        newInfo[target.get("date")] = {
          date: date,
          isAfterToday: this.today.isBefore(date, "day"),
        };
      }
      try {
        let tmpCalendar = await fetchCalendar({
          userId: this.selectedMember,
          month: this.currentDate.format("yyyyMM"),
        });

        Object.keys(tmpCalendar).forEach((element) => {
          let attendanceTime =
            tmpCalendar[element].attendanceTime &&
            this.checkIsTimeStamp(tmpCalendar[element].attendanceTime) &&
            moment(tmpCalendar[element].attendanceTime.toDate());
          let leaveTime =
            tmpCalendar[element].leaveTime &&
            this.checkIsTimeStamp(tmpCalendar[element].leaveTime) &&
            moment(tmpCalendar[element].leaveTime.toDate());

          this.totalWorkingTime +=
            (attendanceTime &&
              leaveTime &&
              leaveTime.diff(attendanceTime, "minutes")) ||
            0;

          newInfo[element] = {
            attendanceTime: attendanceTime,
            leaveTime: leaveTime,
            isVacation: tmpCalendar[element].isVacation || false,
            location: tmpCalendar[element].location || "",
            done: tmpCalendar[element].done || [],
            ...newInfo[element],
          };
        });
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "カレンダーの取得に失敗しました。\n現在月の1年前以前、1年後以後のデータは取得できません。\nそれ以外でエラーが発生する場合、管理者にお問い合わせください。",
          onClick: () => { },
        });
      } finally {
        this.info = newInfo;
        this.$store.commit("setIsLoading", false);
      }
    },
    onClick(type, info) {
      this.clickedData = info;
      let func;
      switch (type) {
        case "attendance":
          func = () => {
            this.showAttendanceFixModalSwitch =
              !this.showAttendanceFixModalSwitch;
          };
          break;
        case "onVacation":
          func = () => {
            this.showOnVacationModalSwitch = !this.showOnVacationModalSwitch;
          };
          break;
        case "offVacation":
          func = () => {
            this.showOffVacationModalSwitch = !this.showOffVacationModalSwitch;
          };
          break;
        default:
          break;
      }
      this.$nextTick(func);
    },
    async update(type) {
      this.$store.commit("setIsLoading", true);
      try {
        switch (type) {
          case "attendance":
            await addFixAttendanceRequest({
              day: this.clickedData.date && this.clickedData.date.toDate(),
              oldAttendance:
                this.clickedData.attendanceTime &&
                this.clickedData.attendanceTime.toDate(),
              oldLeave:
                this.clickedData.leaveTime &&
                this.clickedData.leaveTime.toDate(),
              oldIsVacation: this.clickedData.isVacation,
              newAttendance:
                this.newValue.attendanceTime &&
                this.newValue.attendanceTime.toDate(),
              newLeave:
                this.newValue.leaveTime && this.newValue.leaveTime.toDate(),
              newIsVacation: this.newValue.isVacation,
            });
            break;
          case "onVacation":
            await addVacationRequest({ date: this.clickedData.date.toDate() });
            break;
          case "offVacation":
            await updateOffVacation({
              month: this.clickedData.date.format("yyyyMM"),
              day: this.clickedData.date.format("DD"),
            });
            break;
          default:
            break;
        }
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "処理に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        return;
      } finally {
        this.clickedData = {};
        this.$store.commit("setIsLoading", false);
      }

      this.$store.commit("setResultMsgModalInfo", {
        result: "success",
        message: "処理が成功しました\n",
        onClick: () => { },
      });
      await this.getInfo();
    },
    changeLocation(data) {
      updateLocation({
        month: data.date.format("yyyyMM"),
        day: data.date.format("D"),
        location: data.location,
      }).catch(async (err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "勤務地の変更に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        await this.getInfo();
      });
    },
    checkIsTimeStamp(timestamp) {
      return (
        timestamp &&
        typeof timestamp === "object" &&
        timestamp.seconds != null &&
        timestamp.nanoseconds != null &&
        timestamp
      );
    },
    async importCsv() {
      let calendars;
      try {
        calendars = await fetchCalendarAllUser({
          yearMonths: this.csvImportedYearMonths,
        });
      } catch (err) {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "データの取得に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        return;
      }
      let content =
        "name,e-mail,date,status,attendance-time,leave-time,working-time,location\n";
      Object.keys(calendars).forEach((user) => {
        calendars[user].forEach((month) => {
          month.calendar &&
            Object.keys(month.calendar).forEach((date) => {
              const data = month.calendar[date];
              const name = this.membersInfo[user].fullname;
              const _date = month.month + ("0" + date).slice(-2);
              const status = data.isVacation
                ? "vacation"
                : data.attendanceTime || data.leaveTime
                  ? "working"
                  : "";
              let attendanceTime =
                this.checkIsTimeStamp(data.attendanceTime) &&
                moment(data.attendanceTime.toDate());
              let leaveTime =
                this.checkIsTimeStamp(data.leaveTime) &&
                moment(data.leaveTime.toDate());
              const workingTime =
                (attendanceTime &&
                  leaveTime &&
                  (leaveTime.diff(attendanceTime, "minutes") / 60).toFixed(
                    1
                  )) ||
                "";
              attendanceTime =
                (attendanceTime && attendanceTime.format("HH:mm")) || "";
              leaveTime = (leaveTime && leaveTime.format("HH:mm")) || "";
              const location = data.location || "";
              content = content.concat(
                `${name},${user},${_date},${status},${attendanceTime},${leaveTime},${workingTime},${location}\n`
              );
            });
        });
      });
      this.createCsv(content, moment().format("yyyyMMDDHHmmSS") + "_log.csv");
    },
    createCsv(content, fileName) {
      var bom = new Uint8Array([0xef, 0xbb, 0xbf]);
      var blob = new Blob([bom, content], { type: "text/csv" });

      if (window.navigator.msSaveBlob) {
        window.navigator.msSaveBlob(blob, fileName);

        window.navigator.msSaveOrOpenBlob(blob, fileName);
      } else {
        const aTag = document.createElement("a");
        aTag.href = window.URL.createObjectURL(blob);
        aTag.download = fileName;
        aTag.click();
      }
    },
  },
  computed: {
    membersInfo() {
      return this.$store.getters.membersInfo;
    },
    currentUserInfo() {
      return this.$store.getters.currentUserInfo;
    },
    loginUser() {
      return this.$store.getters.loginUser;
    },
  },
  watch: {
    currentDateDate(value) {
      this.currentDate = moment(value);
    },
    async currentDate() {
      if (!this.isInitFetch) await this.getInfo();
    },
    async selectedMember() {
      await this.getInfo();
      this.isInitFetch = false;
    },
  },
  mounted: function () {
    this.selectedMember = this.loginUser;
  },
};
</script>

<style scoped>
.page-layout {
  padding: 40px 30px 30px 30px;
  min-width: 1270px;
  position: relative;
  box-sizing: border-box;
}

.member-selector {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 70px;
  top: 90px;
}

.top-menus {
  display: flex;
  align-items: center;
}

.total-time {
  color: white;
  font-weight: bold;
  position: absolute;
  margin: 0 auto;
  width: 90%;
}

.transition-button {
  margin: 15px 0 15px 10px;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, black 50%, black 80%);
  cursor: pointer;
}

.transition-button .highlight {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,
      rgba(250, 250, 255, 1) 0%,
      rgba(250, 250, 255, 0.7) 10%,
      rgba(250, 250, 255, 0) 100%);
  z-index: 3;
  top: -2px;
  left: 0px;
  -webkit-transform: scale(0.9, 0.9);
}

.transition-button img {
  position: absolute;
  top: 15px;
}

.prev {
  width: 18px;
  height: 18px;
  left: 15px;
}

.next {
  width: 18px;
  height: 18px;
  left: 18px;
}

.month-name {
  font-size: 26px;
  font-weight: bold;
  color: white;
  width: 300px;
  margin-left: 30px;
  text-align: left;
}

select {
  height: 50px;
  width: 300px;
  font-size: 20px;
  padding: 5px 5px 5px 10px;
  background-color: #171717;
  color: white;
  border: 1px solid white;
  z-index: 100;
}

button {
  height: 50px;
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid white;
}

@media (max-width: 500px) {
  .page-layout {
    padding: 10px 0px;
    min-width: 0px;
    position: relative;
    box-sizing: border-box;
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .member-selector {
    display: flex;
    position: relative;
    justify-content: center;
    right: 0px;
    top: 0px;
    width: 80%;
  }

  select {
    height: 40px;
    width: 80%;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
  }

  .top-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transition-button {
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .prev {
    width: 16px;
    height: 16px;
    left: 10px !important;
    top: 10px !important;
  }

  .next {
    width: 16px;
    height: 16px;
    left: 14px !important;
    top: 10px !important;
  }

  .month-name {
    font-size: 22px;
    width: 180px;
    margin-left: 20px;
  }

  .total-time {
    position: relative;
  }

  .total-time>span {
    font-size: 22px !important;
  }

}

@media (hover: hover) {
  button:hover {
    background-color: #2c7cff !important;
  }
}
</style>