<template>
  <div :class="isMyCard ? 'card my-card' : 'card'">
    <div v-if="!isMyCard && !isAttendance" class="dammy-card" />
    <div style="z-index: 100; width: 100%;">
      <div v-click-outside="
        () => {
          if (isMyCard && showStatusSelection) showStatusSelection = false;
        }
      ">
        <div :class="isMyCard ? 'status-line clickable' : 'status-line'" @click="
          () => {
            if (isMyCard) showStatusSelection = !showStatusSelection;
          }
        ">
          <div class="circle" :style="styles" />
          <div class="status-text">
            {{ statusWord }}
          </div>
          <img v-if="isMyCard" src="@/assets/icon/arrow-down.png" width="14px" style="margin-left: 10px" />
        </div>
        <div v-if="isMyCard && showStatusSelection" class="select-box">
          <button v-for="(value, key) in statusList" :key="key" @click="
            () => {
              selectStatus(key);
              showStatusSelection = false;
            }
          ">
            {{ value }}
          </button>
        </div>
      </div>
      <Button v-if="isMyCard" :width="$mq !== 'sp' ? '120px' : '100px'" :fontSize="$mq !== 'sp' ? '26px' : '22px'"
        style="position: absolute; top: -40px; right: -40px" :label="buttonLabel" :clickEvent="
          () => {
            showAttendanceModalSwitch = !showAttendanceModalSwitch;
          }
        " />
      <div style="
                    font-size: 20px;
                    height: 15px;
                    text-align: left;
                    margin-left: 30px;
                  ">
        {{ moment(_profile.attendanceTime, "M/D HH:mm") }}~
      </div>


      <div :style="$mq === 'sp' ? 'display: flex; justify-content: center; align-items: center; width: 100%;' : ''">
        <div class="profile-wrapper">
          <div class="img-wrapper">
            <label v-if="isMyCard" class="dammy clickable"><input type="file" accept="image/*"
                @change="onImageChange" /></label>
            <img class="profile-img" :src="_profile.image || require('/public/img/human.png')" />
          </div>
          <div class="profile-fullname">
            {{ _profile.fullname }}
          </div>
          <a v-if="$mq !== 'sp'" style="
                    text-align: center;
                    font-size: 18px;
                    width: 100%;
                    z-index: 101;
                    color: aqua;
                  " :href="'mailto:' + _profile.id">{{ _profile.id }}</a>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <img src="@/assets/icon/location.png" class="location-icon" />
            <input v-if="isMyCard" type="value" v-model="_profile.location" @keydown.enter.exact.prevent="onEnter"
              @blur="clickButton" />
            <img v-if="isMyCard" src="@/assets/icon/setting.png" class="setting-icon clickable" @click="
              () => {
                if (isMyCard)
                  showDefaultLocationModalSwitch =
                    !showDefaultLocationModalSwitch;
              }
            " />
            <div v-if="!isMyCard">{{ _profile.location }}</div>
          </div>
          <div class="item">
            <img src="@/assets/icon/comment.png" class="comment-icon" />
            <input v-if="isMyCard" type="value" v-model="_profile.comment" @keydown.enter.exact.prevent="onEnter"
              @blur="clickButton" />
            <div v-else>{{ _profile.comment }}</div>
          </div>
        </div>
      </div>
      <a v-if="$mq === 'sp'" style="
                    text-align: center;
                    font-size: 18px;
                    width: 100%;
                    z-index: 101;
                    color: aqua;
                  " :href="'mailto:' + _profile.id">{{ _profile.id }}</a>
    </div>
    <Modal2 v-if="isMyCard" name="attendance-message" :showModalSwitch="showAttendanceModalSwitch"
      :message="buttonLabel + 'します'" @clickOk="clickAttendanceButton()" @touchend="clickAttendanceButton()" />
    <DefaultLocationModal v-if="isMyCard" name="default-location" :showModalSwitch="showDefaultLocationModalSwitch"
      :text="_profile.defaultLocation" v-model="_profile.defaultLocation" @click="clickButton()" />
  </div>
</template>

<script>
import Button from "@/components/items/Button3";
import Modal2 from "@/components/items/MessageModal2";
import DefaultLocationModal from "@/components/pages/Attendance/DefaultLocationModal.vue";

import ClickOutside from "vue-click-outside";
import moment from "moment";

export default {
  components: {
    Button,
    Modal2,
    DefaultLocationModal,
  },
  props: {
    profile: Object,
    isMyCard: Boolean,
  },
  data() {
    return {
      statusWord: null,
      color: null,
      isAttendance: null,
      buttonLabel: null,
      showAttendanceModalSwitch: false,
      showStatusSelection: false,
      showDefaultLocationModalSwitch: false,
    };
  },
  mounted: function () {
    this.statusChange();
    if (!this.isMyCard) return;
    if (
      this.$store.getters.initAttendanceModalTrigger &&
      this._profile.status === "not working"
    ) {
      this.buttonLabel = "出勤";
      this.showAttendanceModalSwitch = !this.showAttendanceModalSwitch;
    }
    this.$store.commit("setInitAttendanceModalTrigger", false);
  },
  computed: {
    _profile() {
      return this.profile;
    },
    styles() {
      return {
        "--color": this.color,
      };
    },
    statusList() {
      if (this.isAttendance === null) return;
      return this.isAttendance === true
        ? { working: "業務中", busy: "忙しめ", free: "余裕あり" }
        : this.isAttendance === false
          ? { "not working": "業務外", vacation: "休暇中" }
          : {};
    },
  },
  methods: {
    statusChange: function () {
      switch (this._profile.status) {
        case "working":
          this.statusWord = "業務中";
          this.color = "greenyellow";
          this.isAttendance = true;
          break;
        case "busy":
          this.statusWord = "忙しめ";
          this.color = "red";
          this.isAttendance = true;
          break;
        case "free":
          this.statusWord = "余裕あり";
          this.color = "blue";
          this.isAttendance = true;
          break;
        case "not working":
          this.statusWord = "業務外";
          this.color = "gray";
          this.isAttendance = false;
          break;
        case "vacation":
          this.statusWord = "休暇中";
          this.color = "yellow";
          this.isAttendance = false;
          break;
        default:
          this.statusWord = "承認待ち";
          this.color = "gray";
          this.isAttendance = null;
          break;
      }
    },
    clickAttendanceButton: async function () {
      if (this.isAttendance === null) return;
      let status;
      if (this.isAttendance === true) status = "not working";
      else if (this.isAttendance === false) status = "working";
      this.selectStatus(status);
    },
    selectStatus: function (status) {
      this._profile.status = status;
      this.statusChange();
      this.clickButton();
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
    onImageChange(e) {
      const images = e.target.files || e.dataTransfer.files;
      this.getBase64(images[0])
        .then((image) => {
          this._profile.image = image;
          this.clickButton();
        })
        .catch((err) => {
          console.error(err);
          this.$store.commit("setResultMsgModalInfo", {
            result: "failure",
            message:
              "選択した画像はアップデートできません。別の画像を選択してください。",
            onClick: () => { },
          });
        });
    },
    onEnter(event) {
      event.currentTarget.blur();
      this.clickButton();
    },
    clickButton: function () {
      this.$emit("click");
    },
    moment: function (value, format) {
      return moment(value).format(format);
    },
  },
  watch: {
    isAttendance: function (value) {
      if (!this.isMyCard) return;
      if (value === true) {
        this.buttonLabel = "退勤";
      } else if (value === false) {
        this.buttonLabel = "出勤";
      }
    },
    "_profile.status": function () {
      this.statusChange();
    },
  },
  directives: {
    ClickOutside,
  },
};
</script>

<style scoped>
.status-line {
  display: flex;
  align-items: center;
  width: 70%;
}

.circle {
  --color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color);
}

.status-text {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.select-box {
  background-color: #101010;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: calc(70% - 30px);
  margin-left: 30px;
  align-items: start;
  border: 1px solid white;
  z-index: 100;
}

.select-box>button {
  width: 100%;
  text-align: left;
  background-color: #101010;
  border: none;
  color: white;
  font-size: 20px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 170px;
}

.profile-img,
.dammy {
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid 1px white;
  margin-top: 10px;
}

.profile-img {
  z-index: 0;
}

.dammy {
  z-index: 10;
}

.dammy>input {
  display: none;
}

.profile-fullname {
  text-align: center;
  font-size: 22px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item {
  color: white;
  font-size: 20px;
  margin: 6px 2px;
  padding: 5px 0;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.location-icon {
  width: 44px;
  height: 40px;
  border: none;
}

.item>input {
  margin: 0 4px;
  height: 30px;
  font-size: 18px;
  max-width: calc(290px - 90px);
}

.setting-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.comment-icon {
  width: 44px;
  height: 40px;
  border: none;
}

.item>div {
  margin-left: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  text-align: left;
  width: 80%;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  box-shadow: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 290px;
  max-width: 290px;
  height: 410px;
  color: white;
  background-color: #101010;
}

.my-card {
  border: double 3px white;
}

.dammy-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  z-index: 10;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 500px) {
  .circle {
    --color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color);
    margin-left: 4px;
  }

  .status-text {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
  }

  .profile-wrapper {
    min-width: 80px;
    max-width: 80px;
  }

  .img-wrapper {
    height: 100px;
  }

  .profile-img,
  .dammy {
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: solid 1px white;
    margin-top: 10px;
  }

  .profile-fullname {
    font-size: 16px;
  }


  .item-wrapper {
    flex: 1;
    max-width: calc(290px - 90px);
  }

  .item {
    font-size: 18px;
    margin: 2px 2px;
  }


  .location-icon {
    width: 30px;
    height: 26px;
  }

  .item>input {
    margin: 0 2px;
    height: 22px;
    font-size: 18px;
    width: calc(100% - 50px);
  }

  .setting-icon {
    width: 20px;
    height: 20px;
  }

  .comment-icon {
    width: 30px;
    height: 26px;
    border: none;
  }

  .item>div {
    width: calc(100% - 40px);
  }

  .card {
    height: 210px;
  }


}

@media (hover: hover) {
  .select-box>button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .dammy:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .setting-icon:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  div.clickable:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
</style>