<template>
  <modal
    :name="name"
    :draggable="true"
    height="auto"
    width="400px"
    :scrollable="true"
    :adaptive="true"
    styles="background-color:black; border: 6px double white;"
    @opened="
      () => {
        this.$refs.mainInput.focus();
      }
    "
  >
    <div class="modal-body">
      <p>Default Location</p>
      <div style="display: flex; justify-content: center">
        <input
          type="text"
          v-model="inputedValue"
          class="main-input"
          @keydown.enter.exact.prevent="clickUpdate"
          ref="mainInput"
        />
      </div>

      <button
        class="modal-action-button"
        style="margin-top: 30px;"
        @click="clickUpdate()"
        @touchend="clickUpdate()"
      >
        UPDATE
      </button>
    </div>
  </modal>
</template>

<script>
export default {
  props: {
    name: String,
    id: String,
    text: String,
    showModalSwitch: Boolean,
  },
  data() {
    return {
      inputedValue: null,
    };
  },
  watch: {
    showModalSwitch: function () {
      this.inputedValue = this.text;
      this.$modal.show(this.name);
    },
  },
  methods: {
    clickUpdate: function () {
      this.$emit("input", this.inputedValue);
      this.$emit("click");
      this.$modal.hide(this.name);
    },
  },
};
</script>

<style scoped>
.modal-body {
  padding: 25px 25px;
  color: white;
}

.modal-body > p {
  font-size: 24px;
}

.main-input {
  width: 80%;
  height: 35px;
  font-size: 24px;
  outline: solid 1px #31a9ee;
}

.main-input:focus {
  outline-width: 2px;
}
</style>