<template>
  <div v-if="!$store.getters.isRoot" style="padding: 40px 30px 30px 30px">
    <div
      :style="'text-align: left; color: white; font-weight: bold;' + ($mq !== 'sp' ? ' font-size: 32px;' : ' font-size: 22px;')"
    >
      {{ organization }}
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center">
      <Card
        v-if="myProfile"
        :profile="myProfile"
        :isMyCard="true"
        class="card"
        @click="updateInfo()"
      />
      <Card
        v-for="(value, index) in activeMembers"
        :key="`first-${index}`"
        :profile="value"
        :isMyCard="false"
        class="card"
      />
      <Card
        v-for="(value, index) in notActiveMembers"
        :key="`second-${index}`"
        :profile="value"
        :isMyCard="false"
        class="card"
      />
    </div>
  </div>
</template>

<script>
import Card from "./Card";

export default {
  name: "attendance",
  components: {
    Card,
  },
  data() {
    return {
      image: null,
      activeMembers: null,
      notActiveMembers: null,
      myProfile: null,
    };
  },
  computed: {
    organization() {
      return this.$store.getters.userOrganization;
    },
    membersInfo() {
      return this.$store.getters.membersInfo;
    },
  },
  watch: {
    membersInfo(value) {
      if (Object.keys(value).length !== 0) this.makeData();
    },
  },
  mounted: function () {
    if (Object.keys(this.membersInfo).length !== 0) this.makeData();
  },
  methods: {
    makeData() {
      this.activeMembers = [];
      this.notActiveMembers = [];
      this.myProfile = { ...this.$store.getters.currentUserInfo };
      Object.keys(this.membersInfo).forEach((key) => {
        if (key === this.$store.getters.loginUser) return;
        if (
          this.membersInfo[key].status === "working" ||
          this.membersInfo[key].status === "busy" ||
          this.membersInfo[key].status === "free"
        )
          this.activeMembers.push(this.membersInfo[key]);
        else this.notActiveMembers.push(this.membersInfo[key]);
      });
    },
    async updateInfo() {
      const tmpUserInfo = this.$store.getters.currentUserInfo;
      this.$store.commit("setUserInfo", this.myProfile);
      await this.$store.dispatch("updateMyInfo").catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: "変更が適用されませんでした\nやり直してください",
          onClick: () => {},
        });
        this.$store.commit("setUserInfo", tmpUserInfo);
        this.myProfile = tmpUserInfo;
      });
    },
  },
};
</script>

<style scoped>
.card {
  margin: 30px;
}

@media (max-width: 500px) {
  .card {
    margin: 16px;
  }
}
</style>