<template>
  <div style="position: relative; flex: 1; min-height: 0px">
    <div style="position: relative; display: flex; height: 100%">
      <div
        style="position: relative; flex: 1; min-width: 0px; overflow-x: auto"
      >
        <div ref="scroll_comp" :style="{height: '100%', 'overflow-y': currentComponent !== 'Chat' ? 'scroll' : 'hidden'}">
          <component :is="currentComponent" />
          <slot></slot>
        </div>

        <div
          v-if="$mq !== 'sp'"
          class="chat-button"
          @click="
            () => {
              isDisplayChat = !isDisplayChat;
              $store.commit('setChatNoticeInfo', false);
            }
          "
        >
          <div
            v-if="!isDisplayChat && isRequiredNotice"
            class="radius"
            style="position: absolute; left: 15px; top: 15px"
          />
          <img
            v-if="!isDisplayChat"
            src="@/assets/icon/chat.png"
            width="40px"
          />
          <img
            v-if="isDisplayChat"
            src="@/assets/icon/chat_close.png"
            width="40px"
          />
        </div>
      </div>
      <transition v-if="$mq !== 'sp'" name="slide-chat"
        ><Chat v-show="isDisplayChat" style="min-width: 570px; width: 28%"
      /></transition>
    </div>
  </div>
</template>

<script>
import Attendance from "../pages/Attendance/Page";
import Calendar from "../pages/Calendar/Page";
import ToDo from "../pages/ToDo/Page";
import Request from "../pages/Request/Page";
import Setting from "../pages/Setting/Page";
import Chat from "../pages/Chat/Page";

import { logout } from "../../api/firebase";

export default {
  name: "layout",
  props: {
    currentComponent: String,
  },
  components: {
    Attendance,
    Calendar,
    ToDo,
    Request,
    Setting,
    Chat,
  },
  data() {
    return {
      isDisplayChat: true,
      isInit: true,
      pastPos: 0,
    };
  },
  computed: {
    loginUser() {
      return this.$store.getters.loginUser;
    },
    newChatInfo() {
      return this.$store.getters.chatInfo;
    },
    preMq() {
      return this.$mq;
    },
    isRequiredNotice() {
      return this.$store.getters.chatNoticeInfo;
    }
  },
  beforeMount: function () {
    this.$store.commit("setInitAttendanceModalTrigger", true);
  },
  mounted: async function () {
    this.$store.commit("setIsLoading", true);
    try {
      await this.$store.dispatch("fetchMembersInfo");
      await this.$store.dispatch("fetchChatInfo");
      await this.$store.dispatch("fetchOrganizationName");
      if (this.$store.getters.currentUserInfo.isAdmin)
        this.$store.dispatch("fetchRequest");
    } catch (err) {
      console.error(err);
      this.$store.commit("initialize");
      logout();
      this.$store.commit("setResultMsgModalInfo", {
        result: "failure",
        message:
          "データの取得に失敗しました\n再ログインしてください\n繰り返しエラーが発生する場合は、\n管理者にお問い合わせください",
        onClick: () => {
          this.$router.push({
            name: "Login",
          });
        },
      });
    } finally {
      this.$store.commit("setIsLoading", false);
      if (this.$mq !== "pc") this.isDisplayChat = false;
    }
    this.pastPos = this.$refs.scroll_comp.scrollTop;
    this.$refs.scroll_comp.addEventListener("scroll", () => {
      if (this.$mq !== 'sp') return;
      const scroll = this.$refs.scroll_comp.scrollTop;
      const scroll_height = this.$refs.scroll_comp.scrollHeight;
      const client_height = this.$refs.scroll_comp.clientHeight;
      if (scroll_height - scroll > client_height + 1) {
        if (scroll - this.pastPos >= 40) this.$store.commit("setIsHideHeader", true);
        else if(scroll - this.pastPos <= -80 || scroll <= 0) this.$store.commit("setIsHideHeader", false);
      }
      this.pastPos = scroll;
    });
  },
  watch: {
    newChatInfo() {
      if (this.$mq === 'sp') return;
      if (!this.isDisplayChat && !this.isInit) this.$store.commit("setChatNoticeInfo", true);
      if (this.isInit) this.isInit = false;
    },
    preMq(newVal, oldVal) {
      if (oldVal === "pc" && newVal !== "pc") this.isDisplayChat = false;
    },
  },
};
</script>

<style scoped>
.chat-button {
  display: flex;
  position: absolute;
  right: 20px;
  top: 0px;
  width: 120px;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: solid white 2px;
  z-index: 111;
}

.slide-chat-enter-active,
.slide-chat-leave-active {
  transform: translate(570px, 0px);
  transition: transform 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.radius {
  animation: flash 1.5s linear infinite;
  width: 20px;
  height: 20px;
  background: #b22222;
  border-radius: 50%;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (hover: hover) {
  .chat-button:hover {
    background-color: #2c7cff;
    opacity: 80%;
  }
}
</style>