<template>
  <div style="poition: relative">
    <Header />
    <Button
      v-if="isAuthed && $mq !== 'sp'"
      label="Logout"
      :disabled="false"
      style="position: absolute; right: 20px; top: 20px"
      :clickEvent="clickLogout"
    />
    <Button
      v-else-if="isAuthed"
      label="Logout"
      :disabled="false"
      width="70px"
      height="30px"
      fontSize="12px"
      style="position: absolute; right: 10px; top: 16px"
      :clickEvent="clickLogout"
    />
  </div>
</template>

<script>
import Header from "./Header.vue";
import Button from "../items/Button2";

import { logout } from "../../api/firebase";

export default {
  name: "headerWithLogout",
  components: {
    Header,
    Button,
  },
  methods: {
    clickLogout: function () {
      logout();
      this.$router.push({
        name: "Login",
      });
    },
  },
  computed: {
    isAuthed() {
      return this.$store.getters.isAuthed;
    },
  }
};
</script>
