<template>
  <div style="border-bottom: double 6px silver;">
    <link
      href="https://fonts.googleapis.com/css?family=Corben:700"
      rel="stylesheet"
    />
    <div class="page-title">The Team Run</div>
  </div>
</template>

<script>
export default {
  name: "myHeader",
};
</script>

<style scoped>
.page-title {
  font-family: "Corben", cursive;
  color: white;
  font-size: 42px;
  font-weight: bold;
}
@media (max-width: 500px) {
   .page-title {
    font-size:20px;
    margin: 12px 0;
   }
}

</style>