<template>
  <div style="position: relative; display: flex; flex-direction: column; height: 100%;">
    <Header />
    
    <div style="position:relative; flex: 1; min-height: 0px;">
      <div class="inner">
        <component :is="currentComponent" />

        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./HeaderWithLogout";
import Login from "@/components/pages/Login/Page";
import Register from "@/components/pages/Register/Page";
import RootMenu from "@/components/pages/RootMenu/Page";

export default {
  props: {
    currentComponent: String,
  },
  components: {
    Header,
    Login,
    Register,
    RootMenu,
  },
};
</script>

<style scoped>
.inner {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

</style>