<template>
  <div
    style="
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
    "
  >
  <transition name="slide-header">
  <div v-show="$mq !== 'sp' || !isHideHeader">
    <Header />
    <MenuBar
      @link-destination="link"
      :currentComponent="currentComponentProp"
    />
  </div>
  </transition>
    <Content
      v-if="$store.getters.isAuthed"
      :currentComponent="currentComponent"
      style="flex: 1"
    />
  </div>
</template>

<script>
import Header from "./HeaderWithLogout";
import MenuBar from "./MenuBar";
import Content from "./Content";

export default {
  props: {
    currentComponentProp: String,
  },
  data() {
    return {
      currentComponentByClick: null,
    };
  },
  components: {
    Header,
    MenuBar,
    Content,
  },
  methods: {
    link: function (dest) {
      this.currentComponentByClick = dest;
    },
  },
  computed: {
    currentComponent() {
      return this.currentComponentByClick || this.currentComponentProp;
    },
    isHideHeader() {
      return this.$store.getters.isHideHeader;
    }
  },
};
</script>

<style scoped>
.slide-header-enter-active, .slide-header-leave-active {
  transform: translate(0px, 0px); 
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.slide-header-enter, .slide-header-leave-to {
  transform: translateY(-100vh) translateY(0px);
}

.inner {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}
</style>