<template>
  <div class="menu">
    <div
      :class="
        $mq === 'pc'
          ? 'menu-items menu-items-width'
          : 'menu-items menu-items-width-small'
      "
      @click="clickMenu('Attendance')"
      :style="{ 'background-color': backgroundColor.Attendance }"
    >
      <img src="@/assets/icon/time-card.png" height="40px" /><span
        v-if="$mq === 'pc'"
        >Attendance</span
      >
    </div>
    <div
      :class="
        $mq === 'pc'
          ? 'menu-items menu-items-width'
          : 'menu-items menu-items-width-small'
      "
      @click="clickMenu('Calendar')"
      :style="{ 'background-color': backgroundColor.Calendar }"
    >
      <img src="@/assets/icon/calendar.png" height="30px" /><span
        v-if="$mq === 'pc'"
        style="padding-left: 10px"
        >Calendar</span
      >
    </div>
    <div
      :class="
        $mq === 'pc'
          ? 'menu-items menu-items-width'
          : 'menu-items menu-items-width-small'
      "
      @click="clickMenu('ToDo')"
      :style="{ 'background-color': backgroundColor.ToDo }"
    >
      <img src="@/assets/icon/todo.png" height="30px" /><span
        v-if="$mq === 'pc'"
        style="padding-left: 10px"
        >ToDo</span
      >
    </div>
    <div
      v-if="currentUserInfo && currentUserInfo.isAdmin"
      :class="
        $mq === 'pc'
          ? 'menu-items menu-items-width'
          : 'menu-items menu-items-width-small'
      "
      @click="clickMenu('Request')"
      :style="{ 'background-color': backgroundColor.Request }"
    >
      <div
        v-if="
          currentUserInfo &&
          currentUserInfo.isAdmin &&
          request &&
          request.length !== 0 &&
          $mq !== 'sp'
        "
        class="radius"
        style="position: absolute; left: 10px; top: 10px"
      />
      <img src="@/assets/icon/request.png" height="30px" /><span
        v-if="$mq === 'pc'"
        style="padding-left: 10px"
        >Request</span
      >
    </div>
    <div
      :class="
        $mq === 'pc'
          ? 'menu-items menu-items-width'
          : 'menu-items menu-items-width-small'
      "
      @click="clickMenu('Setting')"
      :style="{ 'background-color': backgroundColor.Setting }"
    >
      <img src="@/assets/icon/setting.png" height="30px" /><span
        v-if="$mq === 'pc'"
        style="padding-left: 10px"
        >Setting</span
      >
    </div>
    <div
      v-if="$mq === 'sp'"
      class="menu-items menu-items-width-small"
      @click="() => {
        clickMenu('Chat');
        $store.commit('setChatNoticeInfo', false);
      }"
      :style="{ 'background-color': backgroundColor.Chat }"
    >
    <div
        v-if="
          isRequiredNotice
        "
        class="radius"
        style="position: absolute; left: 0px; top: 10px"
      />
      <img src="@/assets/icon/chat.png" height="30px" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currentComponent: String,
  },
  data() {
    return {
      backgroundColor: {
        Attendance: "#2c7cff !important",
        Calendar: "transparent",
        ToDo: "transparent",
        Request: "transparent",
        Setting: "transparent",
        Chat: "transparent",
      },
      isInit: true,
      selectedComponent: '',
    };
  },
  methods: {
    changeColor: function (menu) {
      Object.keys(this.backgroundColor).forEach((key) => {
        this.backgroundColor[key] = "transparent";
      });
      this.backgroundColor[menu] = "#2c7cff !important";
    },
    clickMenu: function (menu) {
      this.changeColor(menu);
      this.$emit("link-destination", menu);
      this.selectedComponent = menu;
    },
  },
  computed: {
    request() {
      return this.$store.getters.request;
    },
    currentUserInfo() {
      return this.$store.getters.currentUserInfo;
    },
    newChatInfo() {
      return this.$store.getters.chatInfo;
    },
    isRequiredNotice() {
      return this.$store.getters.chatNoticeInfo;
    }
  },
  mounted() {
    this.changeColor(this.currentComponent);
    this.selectedComponent = this.currentComponent;
  },
  watch: {
    newChatInfo() {
      if (this.$mq !== 'sp') return;
      if (this.selectedComponent !== 'Chat' && !this.isInit) this.$store.commit("setChatNoticeInfo", true);
      if (this.isInit) this.isInit = false;
    },
  },
};
</script>

<style scoped>
.menu {
  width: 100%;
  height: 50px;
  text-align: left;
  display: flex;
  border-bottom: solid 2px gray;
}

.menu-items {
  position: relative;
  border-right: solid 2px gray;
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.menu-items-width {
  width: 200px;
}

.menu-items-width-small {
  width: 100px;
}

.menu-items span {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.radius {
  width: 20px;
  height: 20px;
  background: #b22222;
  border-radius: 50%;
}

@media (max-width: 500px) {
  
.radius {
  animation: flash 1.5s linear infinite;
  width: 14px;
  height: 14px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
}

@media (hover: hover) {
  .menu-items:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
}
</style>
