<template>
  <button class="btn-circle-fishy" @click="clickEvent" :style="{width: width || '120px', height: width || '120px', 'font-size': fontSize || '26px'}">{{ label }}</button>
</template>

<script>
export default {
  props: {
    label: String,
    clickEvent: Function,
    width: String,
    fontSize: String,
  },
};
</script>

<style scoped>
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background: black;
  transition: 0.4s;
  cursor: pointer;
  border-color: white;
  border-width: 3px;
}

@media (hover: hover) {
  .btn-circle-fishy:hover {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    background: #2c7cff !important;
  }
}
</style>
