<template>
  <button
    class="btn"
    @click="clickEvent"
    :style="{ width: width, height: height, 'font-size': fontSize }"
  >
    {{ label }}
  </button>
</template>

<script>
export default {
  props: {
    clickEvent: Function,
    label: String,
    width: String,
    height: String,
    fontSize: String,
  },
};
</script>

<style scoped>
.btn {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  outline: solid 1px white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: 2px solid #000;
  transition: all 0.3s;
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  text-decoration: none;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #2c7cff;
    color: #fff;
    letter-spacing: 2px;
  }
}
</style>