<template>
  <div style="position: relative" :style="{ width: width }">
    <label :class="{ active: isActived }">{{ label }}</label>
    <input
      type="text"
      @focus="isActived = true"
      v-model="inputedValue"
      @blur="onBlur()"
      @keydown.enter.exact.prevent="onEnter"
      ref="mainInput"
    />
    <span v-if="errorMessage" class="error-text">{{ errorMessage }}</span>
  </div>
</template>


<script>
export default {
  props: {
    label: String,
    width: String,
    value: String,
    errorMessage: Object,
    activated: Boolean,
    onEnter: Function,
    isFocus: Boolean,
  },
  data() {
    return {
      isActived: false,
    };
  },
  mounted() {
    if (this.isFocus) this.$refs.mainInput.focus();
  },
  methods: {
    onBlur() {
      if (this.inputedValue === "") {
        this.isActived = false;
      }
    },
  },
  computed: {
    inputedValue: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit("input", newValue);
      },
    },
  },
  watch: {
    activated: function (value) {
      if (value === true) {
        this.isActived = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
label {
  position: absolute;
  top: 0;
  font-size: 24px;
  padding: 20px 10px;
  background-color: transparent;
  color: white;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  z-index: 0;
}

.active {
  top: -10px;
  font-size: 20px;
}

input {
  position: relative;
  padding: 30px 20px 20px 20px;
  border: 3px solid white;
  font-size: 28px;
  color: gainsboro;
  background-color: transparent;
  z-index: 1;
  width: 90%;
}

input:focus {
  outline: none;
}

.error-text {
  color: red;
  font-size: 20px;
}
</style>