<template>
  <modal
    :name="name"
    :draggable="true"
    height="auto"
    :width="width || '400px'"
    :scrollable="true"
    :adaptive="true"
    styles="background-color:black; border: 6px double white;"
  >
    <div class="modal-body">
      <div style="padding: 20px">
        <div v-for="msg in messages" :key="msg">{{ msg }}</div>
      </div>
      <div>
        <div style="margin-top: 20px; display: flex; justify-content: center">
          <Button
            style="background-color: grey"
            @click="onClickCancel"
            @touchend="onClickCancel"
          >
            CANCEL
          </Button>
          <button
            style="background-color: #2c7cff"
            @click="onClickOk"
            @touchend="onClickOk"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  props: {
    name: String,
    showModalSwitch: Boolean,
    message: String,
    width: String,
  },
  data() {
    return {
      messages: [],
    };
  },
  methods: {
    onClickOk: function () {
      this.$modal.hide(this.name);
      this.$emit("clickOk");
    },
    onClickCancel: function () {
      this.$modal.hide(this.name);
    },
  },
  watch: {
    showModalSwitch: function () {
      this.messages = this.message.split("\n");
      this.$modal.show(this.name);
    },
  },
};
</script>

<style scoped>
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;
  color: white;
  font-size: 24px;
}

button {
  padding: 2px;
  font-size: 24px;
  margin: 0 10px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}
</style>