<template>
  <modal
    :name="name"
    :draggable="true"
    height="auto"
    :width="width || '500px'"
    :scrollable="true"
    :adaptive="true"
    styles="background-color:black; border: 6px double white;"
  >
    <div class="modal-body">
      <img
        v-if="result !== '' || result != 'none'"
        :src="iconUrl"
        width="50px"
      />
      <div style="margin-top: 10px">
        <div v-for="msg in messages" :key="msg">{{ msg }}</div>
      </div>
      <div>
        <button
          class="modal-ok-button"
          @click="onClickOk()"
          @touchend="onClickOk()"
          v-focus
        >
          OK
        </button>
      </div>
    </div>
  </modal>
</template>

<script>
import success from "@/assets/icon/success.png";
import failure from "@/assets/icon/failure.png";

export default {
  props: {
    name: String,
    showModalSwitch: Boolean,
    result: String,
    message: String,
    width: String,
  },
  data() {
    return {
      iconUrl: "",
      messages: [],
    };
  },
  methods: {
    onClickOk: function () {
      this.$modal.hide(this.name);
      this.$emit("click");
    },
  },
  watch: {
    showModalSwitch: function () {
      if (this.result === null) return;
      if (this.result === "success") {
        this.iconUrl = success;
      } else if (this.result === "failure") {
        this.iconUrl = failure;
      }
      this.messages = this.message.split("\n");
      this.$modal.show(this.name);
    },
  },
};
</script>

<style scoped>
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  color: white;
  font-size: 24px;
}
</style>