<template>
  <div
    style="position: relative"
    :style="{ width: width }"
    v-click-outside="close"
  >
    <button class="select-box" @click="switchIsOpen">
      <div>&lt;Filter&gt;</div>
      <img src="@/assets/icon/arrow-down.png" width="10px" />
    </button>

    <div v-if="isOpen" class="select-content">
      <div v-for="(selection, index) in newSelections" :key="index" style="width: 100%">
        <input
          type="checkbox"
          name="selections"
          :id="selection"
          :value="index"
          v-model="selectedIndexes"
        /><label :for="selection">{{ selection }}</label>
      </div>
    </div>
  </div>
</template>


<script>
import ClickOutside from "vue-click-outside";

export default {
  props: {
    selections: Array,
    width: String,
    value: Array,
  },
  data() {
    return {
      isOpen: false,
      newSeletions: [],
      selectedIndexes: [],
    };
  },
  methods: {
    switchIsOpen() {
      this.isOpen = !this.isOpen;
    },
    close() {
      if (this.isOpen) this.isOpen = false;
    },
  },
  mounted() {
    this.selectedIndexes = this.newSelections.map((_, index) => index);
  },
  computed: {
    newSelections() {
      return ["All"].concat(this.selections);
    },
  },
  watch: {
    selectedIndexes(newVal, oldVal) {
      if (newVal.length > 0 && newVal[newVal.length - 1] === 0)
        this.selectedIndexes = this.newSelections
          .map((_, index) => index)
          .sort();
      else if (oldVal.includes(0) && !newVal.includes(0))
        this.selectedIndexes = [];
      let results = this.selectedIndexes
        .filter((result) => result !== 0)
        .sort()
        .map((val) => val - 1);
      this.$emit("input", results);
    },
  },
  directives: {
    ClickOutside,
  },
};
</script>

<style lang="scss" scoped>
.select-box {
  width: 100%;
  height: 50px;
  background-color: #171717;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-box > div {
  width: 90%;
}

.select-box > img {
  margin-left: auto;
}

.select-content {
  width: 100%;
  background-color: #171717;
  border: 1px solid grey;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  font-size: 22px;
}

/*リセット */
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
  cursor: pointer;
  padding-left: 30px; /*label手前にチェックボックス用の余白を開ける*/
  vertical-align: middle;
  position: relative;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block;
  position: absolute;
}
input[type="checkbox"]::before {
  background-color: black;
  border-radius: 0%;
  border: 1px solid white;
  width: 20px; /*チェックボックスの横幅*/
  height: 20px; /*チェックボックスの縦幅*/
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}
input[type="checkbox"]::after {
  border-bottom: 3px solid white; /*チェックの太さ*/
  border-left: 3px solid white; /*チェックの太さ*/
  opacity: 0; /*チェック前は非表示*/
  height: 6px; /*チェックの高さ*/
  width: 11px; /*チェックの横幅*/
  transform: rotate(-45deg);
  top: -7px; /*チェック時の位置調整*/
  left: 10px; /*チェック時の位置調整*/
}
input[type="checkbox"]:checked::after {
  opacity: 1; /*チェック後表示*/
}

label {
  display: inline-block;
  width: calc(100% - 30px);
  text-align: left;
}
</style>