<template>
  <div v-if="!$store.getters.isRoot" class="page-layout">
    <div class="page-content">
      <div v-if="request.length === 0" style="color: white; font-size: 24px">
        現在、リクエストはありません。
      </div>
      <div v-else>
        <table width="100%" style="table-layout: fixed;">
          <thead>
            <tr>
              <th v-if="$mq !== 'sp'" width="120px">日付</th>
              <th v-if="$mq !== 'sp'" width="240px">申請者</th>
              <th v-else width="110px">日付/申請者</th>
              <th width="auto">内容</th>
              <th :width="$mq !== 'sp' ? '120px' : '74px'">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in request" :key="item.key">
              <td v-if="$mq !== 'sp'" nowrap>{{ moment(item.date, "yyyy/MM/DD") }}</td>
              <td>
                <p v-if="$mq === 'sp'">{{ moment(item.date, "yyyy/MM/DD") }}</p>
                <p>
                  {{
                    $store.getters.membersInfo[item.user] &&
                    $store.getters.membersInfo[item.user].fullname
                  }}
                </p>
                <p>({{ item.user }})</p>
              </td>
              <td nowrap class="td-content">
                <p v-if="item.request === 'join'">【新規加入】</p>
                <div v-else-if="item.request === 'vacation'">
                  <p>【休暇取得】</p>
                  <p class="new-content">
                    {{ moment(item.data.date.toDate(), "yyyy/MM/DD") }}
                  </p>
                </div>
                <div v-else-if="item.request === 'fix'">
                  <p>【勤務時間修正】</p>
                  <div class="old-content">
                    <p>[前]</p>
                    <p v-if="item.data && item.data.oldIsVacation">休暇</p>
                    <div v-else-if="
                      item.data &&
                      (item.data.oldAttendance || item.data.oldLeave)
                    ">
                      <p v-if="item.data.oldAttendance">
                        出勤：{{
                          moment(item.data.oldAttendance.toDate(), "HH:mm")
                        }}
                      </p>
                      <p v-if="item.data.oldLeave">
                        退勤：{{
                          moment(item.data.oldLeave.toDate(), "HH:mm")
                        }}
                      </p>
                    </div>
                    <p v-else>未出勤</p>
                  </div>
                  <div class="new-content">
                    <p>[後]</p>
                    <p v-if="item.data && item.data.newIsVacation">休暇</p>
                    <div v-else-if="
                      item.data &&
                      (item.data.newAttendance || item.data.newLeave)
                    ">
                      <p v-if="item.data.newAttendance">
                        出勤：{{
                          moment(item.data.newAttendance.toDate(), "HH:mm")
                        }}
                      </p>
                      <p v-if="item.data.newLeave">
                        退勤：{{
                          moment(item.data.newLeave.toDate(), "HH:mm")
                        }}
                      </p>
                    </div>
                    <p v-else>未出勤</p>
                  </div>
                </div>
              </td>
              <td>
                <div style="display: flex; flex-direction: column">
                  <button style="background-color: #2c7cff" @click="clickAccept(item.key, item.request)">
                    Accept
                  </button>
                  <button @click="clickReject(item.key, item.request)" style="background-color: grey">
                    Reject
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <MessageModal name="request-modal" :showModalSwitch="showModalSwitch" :message="modalMessage"
        @clickOk="clickOk()" />
      <button v-if="request.length !== 0" class="sticky-button" @click="clickAllAccept()">
        All Accept
      </button>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import MessageModal from "@/components/items/MessageModal2";

import {
  acceptJoinUserRequest,
  acceptAttendanceRequest,
  rejectRequest,
} from "@/api/firebase_functions";

export default {
  name: "request",
  data() {
    return {
      showModalSwitch: false,
      modalMessage: "",
      keys: [],
      isAccept: null,
    };
  },
  components: {
    MessageModal,
  },
  computed: {
    request() {
      return this.$store.getters.request;
    },
  },
  methods: {
    moment: function (value, format) {
      return moment(value).format(format);
    },
    clickAccept: function (key, request) {
      this.keys = [];
      this.modalMessage = "申請を承認します";
      this.showModalSwitch = !this.showModalSwitch;
      this.keys.push({ key: key, request: request });
      this.isAccept = true;
    },
    clickReject: function (key, request) {
      this.keys = [];
      this.modalMessage = "申請を拒否します";
      this.showModalSwitch = !this.showModalSwitch;
      this.keys.push({ key: key, request: request });
      this.isAccept = false;
    },
    clickAllAccept: function () {
      this.keys = [];
      this.modalMessage = "全ての申請を承認します";
      this.showModalSwitch = !this.showModalSwitch;
      this.request.forEach((item) =>
        this.keys.push({ key: item.key, request: item.request })
      );
      this.isAccept = true;
    },
    clickOk: async function () {
      this.$store.commit("setIsLoading", true);
      if (!this.isAccept) {
        await rejectRequest({ key: this.keys[0].key }).catch((err) => {
          console.error(err);
          this.$store.commit("setResultMsgModalInfo", {
            result: "failure",
            message:
              "処理に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
            onClick: () => { },
          });
        });
        this.$store.commit("setIsLoading", false);
        return;
      }

      let errorKey = false;
      await Promise.all(
        this.keys.map(async (key) => {
          switch (key.request) {
            case "join":
              await acceptJoinUserRequest({ key: key.key }).catch((err) => {
                console.error(err);
                errorKey = true;
              });
              break;
            case "vacation":
            case "fix":
              await acceptAttendanceRequest({ key: key.key }).catch((err) => {
                console.error(err);
                errorKey = true;
              });
              break;
            default:
              break;
          }
        })
      );

      if (errorKey) {
        let errorMessage;
        if (this.keys.length > 1)
          errorMessage =
            "処理に失敗したリクエストがあります\n再度処理を行ってください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください";
        else
          errorMessage =
            "処理に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください";
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: errorMessage,
          onClick: () => { },
        });
      } else {
        this.$store.commit("setResultMsgModalInfo", {
          result: "success",
          message: "処理が成功しました\n依頼元ユーザに申請結果を送信しました",
          onClick: () => { },
        });
      }
      this.$store.commit("setIsLoading", false);
    },
  },
};
</script>

<style scoped>
.page-layout {
  width: 100%;
  min-width: 900px;
  display: flex;
  justify-content: center;
}

.page-content {
  width: 80%;
  padding: 40px 30px 30px 30px;
}

table {
  color: white;
  border: 1px solid white;
  font-size: 22px;
}

th {
  border: 1px solid white;
}

td {
  border: 1px solid white;
  overflow-wrap: break-word;
}

.td-content {
  text-align: left;
  line-height: 20px;
  overflow-wrap: break-word;
}

.old-content {
  margin-left: 40px;
  color: grey;
  line-height: 10px;
}

.new-content {
  margin-left: 40px;
  color: white;
  line-height: 10px;
}

button {
  width: 100px;
  height: 50px;
  padding: 2px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  margin: 10px;
}

.sticky-button {
  background-color: #2c7cff;
  border-color: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  left: 2000px;
  margin-right: -50px;
  width: 200px;
}

@media (max-width: 500px) {
  .page-layout {
    min-width: 0px;
  }

  .page-content {
    width: 94%;
    padding: 10px 0px;
  }

  table {
    font-size: 14px;
    border-color: lightgrey;
  }

  th {
    border-color: lightgrey;
  }

  td {
    border-color: lightgrey;
  }

  button {
    width: 64px;
    height: 40px;
    padding: 2px;
    font-size: 18px;
    margin: 6px;
  }

  .sticky-button {
    bottom: 10px;
    right: 100px;
    margin-right: 0px;
    width: 160px;
  }
}
</style>
