<template>
  <div v-if="!$store.getters.isRoot" class="page-layout">
    <div style="width: 90%; position: relative" class="board">
      <div v-if="$mq !== 'sp'" style="
                              display: flex;
                              justify-content: flex-end;
                              position: absolute;
                              right: 100px;
                              top: -50px;
                            ">
        <Multi-selector :selections="users" v-model="filters" width="250px" style="z-index: 100" />
      </div>
      <div class="left">
        <p class="board-title">To Do</p>
        <div class="draggable-wrapper">
          <div class="card-wrapper">
            <div class="card" style="flex-direction: column; justify-content: center">
              <textarea v-model="textAddToDo" placeholder="Input new todo" @keydown.enter.exact.prevent="addToDo" />

              <img src="@/assets/icon/add.png" class="card-icon" @click="addToDo" />
            </div>
          </div>
          <draggable v-model="myTodoList" group="todo" :options="{ handle: '#mycard' }" @update="changeToDo"
            @add="changeToDo" @start="startDrag" @end="endDrag">
            <div v-for="(todo) in myTodoList" :key="todo.todo.key" class="card-wrapper">
              <div class="card" id="mycard">
                <img class="user-img" :src="currentUserInfo.image || require('/public/img/human.png')" />
                <p>{{ todo.todo.value }}</p>
                <img src="@/assets/icon/delete.png" class="card-icon" @click="deleteToDo(todo.todo.key, 'todo')" />
              </div>
            </div>
            <div class="draggable-board" :style="{'z-index': isDragging ? '100' : '0'}" />

          </draggable>
          <div v-for="todo in todoList" :key="todo.todo.key" class="card-wrapper">

            <div class="card" style="background-color: #222222; border-color: grey">
              <img class="user-img" :src="
                membersInfo[todo.user].image ||
                require('/public/img/human.png')
              " />
              <p>{{ todo.todo.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
        <p class="board-title">Doing</p>
        <div class="draggable-wrapper">
          <draggable v-model="myDoingList" group="todo" :options="{ handle: '#mycard' }" @update="changeToDo"
            @add="changeToDo" @start="startDrag" @end="endDrag">
            <div v-for="doing in myDoingList" :key="doing.todo.key" class="card-wrapper">
              <div class="card" id="mycard">
                <img class="user-img" :src="currentUserInfo.image || require('/public/img/human.png')" />
                <p>{{ doing.todo.value }}</p>
                <img src="@/assets/icon/delete.png" class="card-icon" @click="deleteToDo(doing.todo.key, 'doing')" />
              </div>
            </div>
            <div class="draggable-board" :style="{'z-index': isDragging ? '100' : '0'}" />
          </draggable>
          <div v-for="doing in doingList" :key="doing.todo.key" class="card-wrapper">
            <div class="card" style="background-color: #222222; border-color: grey">
              <img class="user-img" :src="
                membersInfo[doing.user].image ||
                require('/public/img/human.png')
              " />
              <p>{{ doing.todo.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <p class="board-title">Done</p>
        <div class="draggable-wrapper">
          <draggable v-model="myDoneList" group="todo" :options="{ handle: '#mycard' }" @update="changeToDo"
            @add="changeToDo" @start="startDrag" @end="endDrag">
            <div v-for="done in myDoneList" :key="done.todo.key" class="card-wrapper">
              <div class="card" id="mycard">
                <img class="user-img" :src="currentUserInfo.image || require('/public/img/human.png')" />
                <p>{{ done.todo.value }}</p>
                <img src="@/assets/icon/delete.png" class="card-icon" @click="deleteToDo(done.todo.key, 'done')" />
              </div>
            </div>
            <div class="draggable-board" :style="{'z-index': isDragging ? '100' : '0'}" />

          </draggable>
          <div v-for="done in doneList" :key="done.todo.key" class="card-wrapper">
            <div class="card" style="background-color: #222222; border-color: grey">
              <img class="user-img" :src="
                membersInfo[done.user].image || require('/public/img/human.png')
              " />
              <p>{{ done.todo.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { addToDo, deleteToDo, changeToDo } from "@/api/firebase";
import MultiSelector from "@/components/items/MultiSelector.vue";
import draggable from "vuedraggable";

export default {
  name: "todo",
  components: {
    MultiSelector,
    draggable,
  },
  data() {
    return {
      textAddToDo: "",
      todoList: [],
      myTodoList: [],
      doingList: [],
      myDoingList: [],
      doneList: [],
      myDoneList: [],
      users: [],
      filters: [],
      isDragging: false,
    };
  },
  mounted() {
    this.users = Object.keys(this.membersInfo).map(
      (key) => this.membersInfo[key].fullname
    );
    this.filters = this.users.map((_, index) => index);
    this.divideTodo(this.currentUserInfo, this.membersInfo);
  },
  computed: {
    membersInfo() {
      return this.$store.getters.membersInfo;
    },
    currentUserInfo() {
      return this.membersInfo[this.$store.getters.loginUser];
    },
  },
  watch: {
    membersInfo(newVal) {
      this.users = Object.keys(newVal).map((key) => newVal[key].fullname);
      this.divideTodo(this.currentUserInfo, newVal);
    },
    currentUserInfo(newVal) {
      this.divideTodo(newVal, this.membersInfo);
    },
    filters() {
      this.divideTodo(this.currentUserInfo, this.membersInfo);
    },
  },
  methods: {
    divideTodo: function (currentUserInfo, membersInfo) {
      this.todoList = [];
      this.myTodoList = [];
      this.doingList = [];
      this.myDoingList = [];
      this.doneList = [];
      this.myDoneList = [];
      currentUserInfo.todo.forEach((todo) => {
        let todoObj = { user: currentUserInfo.id, todo: todo, fixed: false };
        if (todo.status === "todo") this.myTodoList.push(todoObj);
        else if (todo.status === "doing") this.myDoingList.push(todoObj);
        else if (todo.status === "done") this.myDoneList.push(todoObj);
      });
      Object.keys(this.membersInfo).forEach((key) => {
        if (this.membersInfo[key].id == this.currentUserInfo.id) return;
        this.membersInfo[key].todo.forEach((todo) => {
          let todoObj = { user: membersInfo[key].id, todo: todo, fixed: true };
          if (todo.status === "todo") this.todoList.push(todoObj);
          else if (todo.status === "doing") this.doingList.push(todoObj);
          else if (todo.status === "done") this.doneList.push(todoObj);
        });
      });
      this.todoList = this.filterList(this.todoList, this.filters);
      this.doingList = this.filterList(this.doingList, this.filters);
      this.doneList = this.filterList(this.doneList, this.filters);

      this.myTodoList = this.filterList(this.myTodoList, this.filters);
      this.myDoingList = this.filterList(this.myDoingList, this.filters);
      this.myDoneList = this.filterList(this.myDoneList, this.filters);
    },
    deleteToDo: function (key, from) {
      const outputArray =
        from === "todo"
          ? this.myTodoList
          : from === "doing"
            ? this.myDoingList
            : this.myDoneList;
      let index = outputArray.findIndex((element) => element.todo.key === key);
      if (index > -1) outputArray.splice(index, 1);
      deleteToDo({ key: key }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "ToDoの削除に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        this.divideTodo(this.currentUserInfo, this.membersInfo);
      });
    },
    addToDo: function () {
      if (this.textAddToDo === "") return;
      let todo = { key: "", value: this.textAddToDo, status: "todo" };
      this.myTodoList.unshift({ user: this.currentUserInfo.id, todo: todo });
      addToDo({ value: this.textAddToDo }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "ToDoの追加に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        this.divideTodo(this.currentUserInfo, this.membersInfo);
      });
      this.textAddToDo = "";
    },
    changeToDo: function () {
      const valFunc = (status) => {
        return (elem) => {
          elem.todo.status = status;
          return elem.todo;
        };
      };
      let newTodo = this.myTodoList
        .map(valFunc("todo"))
        .concat(
          this.myDoingList.map(valFunc("doing")),
          this.myDoneList.map(valFunc("done"))
        );
      changeToDo({ todo: newTodo }).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message:
            "ToDoの状態変更に失敗しました\n再度、やり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
        this.divideTodo(this.currentUserInfo, this.membersInfo);
      });
    },
    filterList: function (list, filters) {
      return list.filter((elem) => {
        let index = Object.keys(this.membersInfo).indexOf(elem.user);
        return filters.includes(index);
      });
    },
    startDrag: function () {
      this.isDragging = true;
    },
    endDrag: function () {
      this.isDragging = false;
    }
  },
};
</script>

<style scoped>
.page-layout {
  padding: 60px 30px 30px 30px;
  min-width: 900px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 30px;
}

.board {
  display: flex;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 22px;
  height: 100%;
  position: relative;
}

.board-title {
  font-size: 26px;
}

.left {
  border-right: 2px solid grey;
}

.center {
  border-right: 2px solid grey;
}

.draggable-wrapper {
  position: relative;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.draggable-board {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-wrapper {
  margin: 20px;
  background-color: #101010;
}

.card {
  position: relative;
  font-size: 20px;
  padding: 6px;
  background: transparent;
  border: 1px solid white;
  height: 100px;
  display: flex;
  align-items: center;
}

.sortable-chosen {
  opacity: 0.7;
  background-color: grey;
}

.card>textarea {
  width: 95%;
  height: 70%;
  resize: none;
  font-size: 20px;
}

.card>p {
  max-height: 100px;
  width: 100%;
  margin: 10px;
  text-align: left;
  overflow-y: auto;
  white-space: pre-line;
}

.card-icon {
  position: absolute;
  right: -18px;
  bottom: -18px;
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
}

img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 1px white;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

button {
  background-color: #171717;
  color: white;
  border: 1px solid white;
}

@media (max-width: 500px) {
  .page-layout {
    padding: 0px;
    min-width: 0px;
    margin-top: 0px;
  }

  .left,
  .center,
  .right {
    width: 33%;
  }

  .board-title {
    font-size: 20px;
  }

  .card-wrapper {
    margin: 8px;
  }

  .card {
    font-size: 12px;
    padding: 1px;
  }

  .card>p {
    margin: 26px 2px 2px 2px;
    max-height: 60px;
  }

  .card-icon {
    right: -10px;
    bottom: -10px;
    width: 30px;
    height: 30px;
  }

  .user-img {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px;
    height: 30px;
  }

  .card>textarea {
    width: 90%;
    font-size: 16px;
  }
}
</style>
