<template>
  <div id="app" style="height: 100vh">
    <div style="height: 100%; min-height: 350px">
      <router-view />

      <div v-show="isLoading" style="
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.2);
          ">
        <Loading color="white" style="width: 100%" />
      </div>

      <Modal1 name="message" :showModalSwitch="showMessageModalSwitch" :result="resultMsgModalInfo.result"
        :message="resultMsgModalInfo.message" :width="resultMsgModalInfo.width" @click="clickModal()" />
    </div>
  </div>
</template>

<script>
import Modal1 from "./components/items/MessageModal1";
import Loading from "./components/items/Loading1";

export default {
  name: "App",
  components: {
    Modal1,
    Loading,
  },
  data() {
    return {
      showMessageModalSwitch: false,
    };
  },
  methods: {
    clickModal: function () {
      this.resultMsgModalInfo.onClick();
    },
  },
  computed: {
    isLoading() {
      return this.$store.getters.isLoading;
    },
    resultMsgModalInfo() {
      return this.$store.getters.resultMsgModalInfo;
    },
    isAuthed() {
      return this.$store.getters.isAuthed;
    },
  },
  watch: {
    resultMsgModalInfo: function () {
      this.showMessageModalSwitch = !this.showMessageModalSwitch;
    },
    isAuthed: function (value) {
      if (value) {
        if (this.$route.name === "Login" || this.$route.name === "Register")
          this.$router.push({ name: "Attendance" });
        else if (this.$route.name === "LoginRoot") {
          this.$store.commit("setIsRoot", true);
          this.$router.push({ name: "RootMenu" });
        }
        return;
      }
      if (
        this.$route.name !== "Login" &&
        this.$route.name !== "Register" &&
        this.$route.name !== "LoginRoot"
      )
        this.$router.push({ name: "Login" });
    },
  },
  beforeCreate: async function () {
    await this.$store.dispatch("onAuth");
    if (
      !this.isAuthed &&
      this.$route.name !== "Login" &&
      this.$route.name !== "Register" &&
      this.$route.name !== "LoginRoot"
    )
      this.$router.push({ name: "Login" });
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url("../public/img/background.jpg");
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  box-shadow: none;
}

.center-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.modal-header {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 30px 0px;
}

.modal-ok-button {
  padding: 2px;
  font-size: 24px;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  background-color: #303030;
}

.modal-action-button {
  padding: 2px;
  font-size: 24px;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  background-color: #2c7cff;
}

.modal-action-button:disabled {
  padding: 2px;
  font-size: 24px;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  cursor: not-allowed;
  color: lightgrey;
  border-radius: 6px;
  background-color: grey;
}

@media (max-width: 500px) {
  .modal-header {
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 10px 0px;
  }

  ::-webkit-scrollbar {
    display: none !important;
  }
}
</style>
