<template>
  <div class="chat-view">
    <div class="scroll-view" ref="scroll_view">
      <transition-group name="chat" tag="div" class="list content">
        <section v-for="({ date, user, message }, index) in chat"
          :key="Object.prototype.toString.call(date) && date.toString()">
          <div v-if="index === 0 || isBeforeDateOnly(chat[index - 1].date, date)" class="date-division">
            {{
              moment(date, "yyyy/MM/DD")
            }}
          </div>
          <div v-if="user == $store.getters.loginUser" class="my-item">
            <div class="my-item-detail">
              <div class="message-detail" style="justify-content: flex-end;">
                <div style="color: #b0b0b0;">
                  {{ moment(date, "HH:mm") }}
                </div>
                <div class="fullname">
                  {{
                    (membersInfo[user] && membersInfo[user].fullname) ||
                    "unknown"
                  }}
                </div>
              </div>
              <div style="display: flex; justify-content: flex-end">
                <div class="my-item-message">
                  <div>
                    {{ message }}
                  </div>
                </div>
              </div>
            </div>
            <div class="item-image">
              <img :src="
                ($store.getters.membersInfo[user] &&
                  $store.getters.membersInfo[user].image) ||
                require('/public/img/human.png')
              " />
            </div>
          </div>
          <div v-else class="item">
            <div class="item-image">
              <img :src="
                ($store.getters.membersInfo[user] &&
                  $store.getters.membersInfo[user].image) ||
                require('/public/img/human.png')
              " />
            </div>
            <div class="item-detail">
              <div class="message-detail" style="justify-content: flex-start;">
                <div style="color: #b0b0b0;">
                  {{ moment(date, "HH:mm") }}
                </div>
                <div class="fullname">
                  {{
                    (membersInfo[user] && membersInfo[user].fullname) ||
                    "unknown"
                  }}
                </div>
              </div>
              <div style="display: flex; justify-content: flex-start">
                <div class="item-message">
                  <div>{{ message }}</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </transition-group>
    </div>
    <div v-if="isNewMessage" style="position: absolute; bottom: 90px; width: 100%;">
      <div style="margin: 0 auto" class="new-message-notice">
        新着メッセージがあります。
      </div>
    </div>

    <!-- 入力フォーム -->
    <div class="form">
      <textarea v-model="input" @keydown.enter.exact.prevent="doSend"></textarea>
      <button @click="doSend" class="send-button">
        <img src="@/assets/icon/send.png" width="30px" /></button>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      input: "",
      isNewMessage: false,
      pastPos: 0,
    };
  },
  methods: {
    scrollToBottom: function () {
      const container = this.$refs.scroll_view;
      container.scrollTop = container.scrollHeight;
    },
    doSend: async function () {
      if (this.input === "") return;
      let message = this.input;
      this.input = "";
      this.scrollToBottom();
      await this.$store.dispatch("addChatMessage", message).catch((err) => {
        console.error(err);
        this.$store.commit("setResultMsgModalInfo", {
          result: "failure",
          message: "チャットの送信に失敗しました\nやり直してください\n繰り返しエラーが発生する場合、\n管理者にお問い合わせください",
          onClick: () => { },
        });
      });
    },
    moment: function (value, format) {
      return moment(value).format(format);
    },
    isBeforeDateOnly: function (date1, date2) {
      return moment(date1).isBefore(date2, "day");
    },
  },
  computed: {
    chat() {
      return this.$store.getters.chatInfo;
    },
    membersInfo() {
      return this.$store.getters.membersInfo;
    },
  },
  watch: {
    chat: function () {
      const container = this.$refs.scroll_view;
      const isBottomScroll =
        container.scrollHeight - container.scrollTop <= container.clientHeight;
      if (isBottomScroll) {
        this.$nextTick(this.scrollToBottom);
      } else {
        this.isNewMessage = true;
      }
    },
  },
  mounted: function () {
    this.scrollToBottom();
    this.pastPos = this.$refs.scroll_view.scrollTop;
    this.$refs.scroll_view.addEventListener("scroll", () => {
      this.isNewMessage = false;
      if (this.$mq !== 'sp') return;
      const scroll = this.$refs.scroll_view.scrollTop;
      const scroll_height = this.$refs.scroll_view.scrollHeight;
      const client_height = this.$refs.scroll_view.clientHeight;
      if (scroll_height - scroll > client_height + 1) {
        if (scroll - this.pastPos >= 40) this.$store.commit("setIsHideHeader", true);
        else if (scroll - this.pastPos <= -80 || scroll <= 0) this.$store.commit("setIsHideHeader", false);
      }
      this.pastPos = scroll;
    });
  },
};
</script>

<style scoped>
* {
  margin: 0;
  box-sizing: border-box;
}

.chat-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-view {
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: scroll;
}

.content {
  margin: 0 auto;
  padding: 0 10px;
}

.form {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  width: 100%;
}

.form textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 60px;
  width: calc(100% - 10em);
  resize: none;
  font-size: 20px;
}

.list {
  margin-bottom: 50px;
}

.date-division {
  color: rgb(230, 230, 230);
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-division:before,
.date-division:after {
  border-top: 1px solid rgb(230, 230, 230);
  content: "";
  width: calc(50% - 80px);
  /* 線の長さ */
}

.date-division:before {
  margin-right: 1em;
  /* 文字の右隣 */
}

.date-division:after {
  margin-left: 1em;
  /* 文字の左隣 */
}


.item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 0.8em;
}

.item-image img {
  border-radius: 50%;
  vertical-align: top;
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.item-detail {
  margin: 0 0 0 1.4em;
}

.my-item-detail {
  margin: 0 1.4em 0 0;
}

.message-detail {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.item-message {
  position: relative;
  display: inline-block;
  padding: 0.8em;
  background: #deefe8;
  border-radius: 4px;
  line-height: 1.2em;
  font-size: 18px;
  max-width: 400px;
  text-align: left;
  overflow-wrap: break-word;
  font-weight: 400;
}

.item-message::before {
  position: absolute;
  content: " ";
  display: block;
  left: -16px;
  bottom: 12px;
  border: 4px solid transparent;
  border-right: 12px solid #deefe8;
}

.item-message>div,
.my-item-message>div {
  white-space: pre-line;
}

.my-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.8em;
}

.my-item-message {
  position: relative;
  display: inline-block;
  padding: 0.8em;
  background: #deefe8;
  border-radius: 4px;
  line-height: 1.2em;
  font-size: 18px;
  max-width: 400px;
  text-align: left;
  overflow-wrap: break-word;
  font-weight: 400;
}

.my-item-message::after {
  position: absolute;
  content: " ";
  display: block;
  right: -16px;
  bottom: 12px;
  border: 4px solid transparent;
  border-left: 12px solid #deefe8;
}

.send-button {
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.chat-enter-active {
  transition: all 1s;
}

.chat-enter {
  opacity: 0;
  transform: translateX(-1em);
}

.new-message-notice {
  color: white;
  width: 60%;
  background-color: blue;
  border-radius: 10px;
  font-size: 18px;
}

.fullname {
  color: #d0d0d0;
  font-size: 14px;
  margin-left: 10px;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 500px) {
  .form textarea {
    width: 70%;
  }

  .item-detail {
    width: 100%;
  }

  .my-item-detail {
    width: 100%;
  }

  .item-message {
    font-size: 14px;
    max-width: calc(100% - 50px);
  }

  .my-item-message {
    font-size: 14px;
    max-width: calc(100% - 50px);
  }


  .item-image img {
    width: 38px;
    height: 38px;
  }

  .message-detail {
    font-size: 10px;
  }

  .fullname {
    font-size: 12px;
  }


  .new-message-notice {
    width: 80%;
  }
}
</style>